In [1]:
import os, copy
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

csv_files = [file for file in os.listdir() if file.endswith('.csv')]

# for filename in csv_files:
#     lowercase_filename = filename.lower()
#     if filename == lowercase_filename:
#         continue
#     os.rename(filename, lowercase_filename)
csv_files

['hstr5039.csv',
 'soitdintsgrp.csv',
 'soitdintsgrpinfo.csv',
 'soitdintsphasinfo.csv',
 'soitdopermap3.csv',
 'soitdopermap4.csv',
 'soitdphasrevt.csv',
 'soitdsgnlctrr.csv',
 'soitdsgnlotptdrct.csv',
 'soitdspdydayplan.csv',
 'soitdspotintsinfo.csv',
 'soitdspotintsoperhstr.csv',
 'soitdspotintsoperhstr_202312110900.csv',
 'soitdspotintsstts.csv',
 'soitdspotintsstts_202312111238.csv',
 'soitdspotintsstts_202312131616.csv',
 'soitdtimeplan.csv',
 'soitdtimeplan_202312131620.csv',
 'soitdtodcnfg.csv',
 'soitdtodplan.csv',
 'soitdwklyplan.csv',
 'soitsintssgnlcnfginfo.csv',
 'soitsintssgnlcnfginfotmdiff.csv',
 'soitsnode.csv',
 'soitsphasinfo.csv',
 'soitsphasinfotmdiff.csv',
 'soitsrgnprttninfo.csv',
 'soitssmlnflfmthstr.csv',
 'soitsspotintstmdiff.csv']

In [2]:
# 동인(신호정보) - 신호통합_volt
soitdspotintsinfo = pd.read_csv('soitdspotintsinfo.csv')
soitdtodcnfg = pd.read_csv('soitdtodcnfg.csv')
soitdtodplan = pd.read_csv('soitdtodplan.csv')
soitdtimeplan = pd.read_csv('soitdtimeplan_202312131620.csv')
soitdintsphasinfo = pd.read_csv('soitdintsphasinfo.csv')
soitdintsgrp = pd.read_csv('soitdintsgrp.csv')
soitdspdydayplan = pd.read_csv('soitdspdydayplan.csv')
soitdwklyplan = pd.read_csv('soitdwklyplan.csv')
soitdspotintsstts = pd.read_csv('soitdspotintsstts.csv')
soitdspotintsoperhstr = pd.read_csv('soitdspotintsoperhstr.csv')
soitdintsgrpinfo = pd.read_csv('soitdintsgrpinfo.csv')
soitdphasrevt = pd.read_csv('soitdphasrevt.csv')
soitdsgnlctrr = pd.read_csv('soitdsgnlctrr.csv')
soitdopermap3 = pd.read_csv('soitdopermap3.csv')
soitdopermap4 = pd.read_csv('soitdopermap4.csv')
soitdsgnlotptdrct = pd.read_csv('soitdsgnlotptdrct.csv')

# SUMO-현시,네트워크 - 스마트교차로통합_volt
soitsspotintstmdiff = pd.read_csv('soitsspotintstmdiff.csv')
soitsphasinfo = pd.read_csv('soitsphasinfo.csv')
soitsphasinfotmdiff = pd.read_csv('soitsphasinfotmdiff.csv')
soitsrgnprttninfo = pd.read_csv('soitsrgnprttninfo.csv')
soitssmlnflfmthstr = pd.read_csv('soitssmlnflfmthstr.csv')
soitsnode = pd.read_csv('soitsnode.csv')
soitsintssgnlcnfginfo = pd.read_csv('soitsintssgnlcnfginfo.csv')
soitsintssgnlcnfginfotmdiff = pd.read_csv('soitsintssgnlcnfginfotmdiff.csv')

C:\Users\유아이네트웍스\AppData\Local\Temp\ipykernel_13548\2359052046.py:15: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  soitdopermap3 = pd.read_csv('soitdopermap3.csv')

In [3]:
def get_hstr(path):
    hstr = pd.read_csv(path)
    hstr['datetime'] = pd.to_datetime(hstr['CLCT_UNIX_TM'], unit='s', utc=True)
    hstr['datetime'] = hstr['datetime'].dt.tz_convert('Asia/Seoul').dt.strftime('%Y-%m-%d %H:%M:%S')
    hstr['datetime'] = hstr['datetime'].astype('datetime64[s]')
    hstr.columns = ['현장교차로ID', '수집유닉스시각', '수집일시', '제어구분코드', '제어상태코드', '주기시간', '옵셋시간',
        'A링1현시시간', 'A링2현시시간', 'A링3현시시간', 'A링4현시시간', 'A링5현시시간', 'A링6현시시간',
        'A링7현시시간', 'A링8현시시간', 'B링1현시시간', 'B링2현시시간', 'B링3현시시간', 'B링4현시시간',
        'B링5현시시간', 'B링6현시시간', 'B링7현시시간', 'B링8현시시간', 'A링1현시보행시간',
        'A링2현시보행시간', 'A링3현시보행시간', 'A링4현시보행시간', 'A링5현시보행시간', 'A링6현시보행시간',
        'A링7현시보행시간', 'A링8현시보행시간', 'B링1현시보행시간', 'B링2현시보행시간', 'B링3현시보행시간',
        'B링4현시보행시간', 'B링5현시보행시간', 'B링6현시보행시간', 'B링7현시보행시간', 'B링8현시보행시간',
        '수집날짜시각']
    cols = list(hstr.columns).copy()
    cols.remove('수집날짜시각')
    cols.insert(1, '수집날짜시각')
    hstr = hstr[cols]
    return hstr

In [4]:
# hstr_1212 = get_hstr('../1212/soitdspotintsoperhstr_1212.csv')
hstr_1211 = get_hstr('../1211/soitdspotintsoperhstr_202312110900.csv')
hstr_1212 = get_hstr('../1212/soitdspotintsoperhstr_202312121808.csv')
hstr_1213 = get_hstr('../1213/soitdspotintsoperhstr_202312131102.csv')
hstr_1214 = get_hstr('../1214/soitdspotintsoperhstr_202312140852.csv')
hstr = pd.concat([hstr_1211, hstr_1212, hstr_1213, hstr_1214]).drop_duplicates()
hstr_5031 = hstr[hstr['현장교차로ID']==5031].sort_values(by='수집날짜시각').reset_index(drop=True)
print('수집날짜시각 최대, 최소 : ')
print('1211')
print(hstr_1211['수집날짜시각'].min())
print(hstr_1211['수집날짜시각'].max())
print('1212')
print(hstr_1212['수집날짜시각'].min())
print(hstr_1212['수집날짜시각'].max())
print('1213')
print(hstr_1213['수집날짜시각'].min())
print(hstr_1213['수집날짜시각'].max())

수집날짜시각 최대, 최소 :
1211
2023-12-11 09:00:57
2023-12-12 23:59:55
1212
2023-12-12 09:00:58
2023-12-12 23:59:55
1213
2023-12-12 09:00:58
2023-12-13 23:59:56

In [5]:
sorted(list(hstr_1213.수집날짜시각.unique()))[-3:]

[Timestamp('2023-12-13 11:02:49'),
 Timestamp('2023-12-13 11:02:54'),
 Timestamp('2023-12-13 23:59:56')]

In [7]:
differences = [value for sublist in diffs.values() for value in sublist.values()]
print("안정화된 수집시각의 차이")
print(pd.Series(differences).value_counts())
print("처음 여섯 현시시각의 차이(L1 norm)")
errors = [value for sublist in diffs.values() for value in sublist.values()]
print(pd.Series(errors).value_counts())

안정화된 수집시각의 차이
 0    37
 1    16
-1    12
-3     1
 3     1
 2     1
Name: count, dtype: int64
처음 여섯 현시시각의 차이(L1 norm)
 0    37
 1    16
-1    12
-3     1
 3     1
 2     1
Name: count, dtype: int64

In [6]:
from datetime import datetime

inter2trans_times = {5031:['06:00', '06:30', '07:00', '09:30'], # 15
                     5032:['06:00', '06:30', '07:00', '09:30'], # 169
                     5033:['06:00', '06:30', '07:00', '09:30'], # 98
                     5034:['05:30', '06:30', '07:00', '09:30'], # 27
                     5035:['05:30', '06:30', '07:00', '09:30'], # 81
                     5036:['06:00', '06:30', '07:00', '09:30'], # 43
                     5037:['06:00', '06:30', '07:00', '09:30'], # 810
                     5038:['06:00', '06:30', '07:00', '09:30'], # 810
                     5039:['06:00', '06:30', '07:00', '09:30'], # 43
                     5040:['06:00', '06:30', '07:00', '09:30'], # 43
                     5041:['06:00', '06:30', '07:00', '09:30'], # 43
                     5042:['06:00', '06:30', '07:00', '09:30'], # 43
                     5043:['06:00', '06:30', '07:00', '09:30'], # 43
                     5044:['06:00', '06:30', '07:00', '09:30'], # 43
                     5045:['05:00', '05:30', '06:00', '09:30'], # 26
                     5046:['05:00', '05:30', '06:00', '09:30'], # 26
                     5047:['05:00', '05:30', '06:00', '09:30']} # 26

hstrs = {}
diffs = {}
erros = {}
for inter_no in inter2trans_times:
    print(inter_no)
    hstr_temp = hstr[hstr['현장교차로ID']==inter_no].sort_values(by='수집날짜시각').reset_index(drop=True)
    hstr_temp = hstr_temp[['현장교차로ID', '수집날짜시각', '주기시간', '옵셋시간',
                           'A링1현시시간', 'A링2현시시간', 'A링3현시시간', 'A링4현시시간', 'A링5현시시간', 'A링6현시시간']]
    trans_times = inter2trans_times[inter_no]
    hstrs[inter_no] = {}
    diffs[inter_no] = {}
    erros[inter_no] = {}
    for trans_time in trans_times:
        hstrs[inter_no][trans_time] = {}
        diffs[inter_no][trans_time] = {}
        erros[inter_no][trans_time] = {}
        print(trans_time)
        hour, minute = trans_time.split(":")
        hour, minute = int(hour), int(minute)
        df12 = hstr_temp[(hstr_temp['수집날짜시각']>=datetime(2023, 12, 12, hour, minute))&(hstr_temp['수집날짜시각']<datetime(2023, 12, 12, hour, minute+29))]
        df13 = hstr_temp[(hstr_temp['수집날짜시각']>=datetime(2023, 12, 13, hour, minute))&(hstr_temp['수집날짜시각']<datetime(2023, 12, 13, hour, minute+29))]
        hstrs[inter_no][trans_time][12] = df12
        hstrs[inter_no][trans_time][13] = df13
        consist12 = df12.iloc[-1].수집날짜시각
        consist13 = df13.iloc[-1].수집날짜시각
        diff = int((consist12+timedelta(1)-consist13).total_seconds())
        diffs[inter_no][trans_time] = diff
        print(f'안정화된 수집시각의 차이 : {diff}')
        error = int(np.linalg.norm(df12.iloc[:6,4:].values - df13.iloc[:6,4:].values, ord=1))
        erros[inter_no][trans_time] = error
        print(f'처음 여섯 현시시각의 차이(L1 norm) : {error}')
        print(error)
        display(df12)
        display(df13)

5031
06:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
480,5031,2023-12-12 06:01:43,140,3,37,16,27,25,35,0
481,5031,2023-12-12 06:04:02,140,93,37,16,27,25,35,0
482,5031,2023-12-12 06:07:22,200,143,58,32,31,40,39,0
483,5031,2023-12-12 06:09:59,157,0,42,21,28,29,37,0
484,5031,2023-12-12 06:12:29,150,0,40,20,27,28,35,0
485,5031,2023-12-12 06:14:59,150,0,40,20,27,28,35,0
486,5031,2023-12-12 06:17:30,150,0,40,20,27,28,35,0
487,5031,2023-12-12 06:19:59,150,0,40,20,27,28,35,0
488,5031,2023-12-12 06:22:29,150,0,40,20,27,28,35,0
489,5031,2023-12-12 06:25:00,150,0,40,20,27,28,35,0
490,5031,2023-12-12 06:27:29,150,0,40,20,27,28,35,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1007,5031,2023-12-13 06:01:42,140,3,37,16,27,25,35,0
1008,5031,2023-12-13 06:04:02,140,93,37,16,27,25,35,0
1009,5031,2023-12-13 06:07:22,200,143,58,32,31,40,39,0
1010,5031,2023-12-13 06:09:59,157,0,42,21,28,29,37,0
1011,5031,2023-12-13 06:12:30,150,0,40,20,27,28,35,0
1012,5031,2023-12-13 06:15:00,150,0,40,20,27,28,35,0
1013,5031,2023-12-13 06:17:29,150,0,40,20,27,28,35,0
1014,5031,2023-12-13 06:19:59,150,0,40,20,27,28,35,0
1015,5031,2023-12-13 06:22:29,150,0,40,20,27,28,35,0
1016,5031,2023-12-13 06:24:59,150,0,40,20,27,28,35,0
1017,5031,2023-12-13 06:27:30,150,0,40,20,27,28,35,0

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 18
18

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
491,5031,2023-12-12 06:30:00,150,0,40,20,27,28,35,0
492,5031,2023-12-12 06:32:30,150,0,40,20,27,28,35,0
493,5031,2023-12-12 06:35:00,150,20,40,20,27,28,35,0
494,5031,2023-12-12 06:37:19,140,0,37,16,27,25,35,0
495,5031,2023-12-12 06:39:52,152,152,41,22,27,27,35,0
496,5031,2023-12-12 06:42:32,160,152,43,25,27,30,35,0
497,5031,2023-12-12 06:45:12,160,152,43,25,27,30,35,0
498,5031,2023-12-12 06:47:52,160,152,43,25,27,30,35,0
499,5031,2023-12-12 06:50:32,160,152,43,25,27,30,35,0
500,5031,2023-12-12 06:53:12,160,152,43,25,27,30,35,0
501,5031,2023-12-12 06:55:52,160,152,43,25,27,30,35,0
502,5031,2023-12-12 06:58:32,160,152,43,25,27,30,35,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1019,5031,2023-12-13 06:32:30,150,30,40,20,27,28,35,0
1020,5031,2023-12-13 06:34:49,140,10,37,16,27,25,35,0
1021,5031,2023-12-13 06:37:11,142,152,37,18,27,25,35,0
1022,5031,2023-12-13 06:39:52,160,152,43,25,27,30,35,0
1023,5031,2023-12-13 06:42:32,160,152,43,25,27,30,35,0
1024,5031,2023-12-13 06:45:12,160,152,43,25,27,30,35,0
1025,5031,2023-12-13 06:47:51,160,152,43,25,27,30,35,0
1026,5031,2023-12-13 06:50:32,160,152,43,25,27,30,35,0
1027,5031,2023-12-13 06:53:12,160,152,43,25,27,30,35,0
1028,5031,2023-12-13 06:55:52,160,152,43,25,27,30,35,0
1029,5031,2023-12-13 06:58:32,160,152,43,25,27,30,35,0

07:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
503,5031,2023-12-12 07:01:12,160,152,43,25,27,30,35,0
504,5031,2023-12-12 07:03:52,160,52,43,25,27,30,35,0
505,5031,2023-12-12 07:07:51,239,111,70,51,31,48,39,0
506,5031,2023-12-12 07:11:41,230,161,66,48,31,46,39,0
507,5031,2023-12-12 07:14:41,180,162,49,35,27,34,35,0
508,5031,2023-12-12 07:17:40,179,161,49,35,27,33,35,0
509,5031,2023-12-12 07:20:40,180,161,49,35,27,34,35,0
510,5031,2023-12-12 07:23:40,180,161,49,35,27,34,35,0
511,5031,2023-12-12 07:26:40,180,160,49,35,27,34,35,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1030,5031,2023-12-13 07:01:12,160,152,43,25,27,30,35,0
1031,5031,2023-12-13 07:03:52,160,52,43,25,27,30,35,0
1032,5031,2023-12-13 07:07:51,239,111,70,51,31,48,39,0
1033,5031,2023-12-13 07:11:41,230,161,66,48,31,46,39,0
1034,5031,2023-12-13 07:14:41,180,161,49,35,27,34,35,0
1035,5031,2023-12-13 07:17:41,180,161,49,35,27,34,35,0
1036,5031,2023-12-13 07:20:41,180,161,49,35,27,34,35,0
1037,5031,2023-12-13 07:23:41,180,161,49,35,27,34,35,0
1038,5031,2023-12-13 07:26:41,180,161,49,35,27,34,35,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
537,5031,2023-12-12 09:32:41,180,121,49,35,27,34,35,0
538,5031,2023-12-12 09:35:40,179,140,56,22,30,32,39,0
539,5031,2023-12-12 09:38:20,160,140,49,20,27,29,35,0
540,5031,2023-12-12 09:41:00,160,140,49,20,27,29,35,0
541,5031,2023-12-12 09:43:40,160,140,49,20,27,29,35,0
542,5031,2023-12-12 09:46:20,160,140,49,20,27,29,35,0
543,5031,2023-12-12 09:49:00,160,140,49,20,27,29,35,0
544,5031,2023-12-12 09:51:40,160,140,49,20,27,29,35,0
545,5031,2023-12-12 09:54:20,160,140,49,20,27,29,35,0
546,5031,2023-12-12 09:57:00,160,140,49,20,27,29,35,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1080,5031,2023-12-13 09:32:41,180,121,49,35,27,34,35,0
1081,5031,2023-12-13 09:35:40,179,140,56,22,30,32,39,0
1082,5031,2023-12-13 09:38:20,160,140,49,20,27,29,35,0
1083,5031,2023-12-13 09:41:00,160,140,49,20,27,29,35,0
1084,5031,2023-12-13 09:43:40,160,140,49,20,27,29,35,0
1085,5031,2023-12-13 09:46:20,160,140,49,20,27,29,35,0
1086,5031,2023-12-13 09:49:00,160,140,49,20,27,29,35,0
1087,5031,2023-12-13 09:51:40,160,140,49,20,27,29,35,0
1088,5031,2023-12-13 09:54:20,160,140,49,20,27,29,35,0
1089,5031,2023-12-13 09:57:00,160,140,49,20,27,29,35,0

5032
06:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5032,2023-12-12 06:00:19,140,60,20,43,20,37,20,0
472,5032,2023-12-12 06:02:39,140,60,20,43,20,37,20,0
473,5032,2023-12-12 06:04:59,140,0,20,43,20,37,20,0
474,5032,2023-12-12 06:08:19,200,50,30,74,30,37,29,0
475,5032,2023-12-12 06:10:57,158,58,22,57,21,37,21,0
476,5032,2023-12-12 06:13:27,150,58,20,53,20,37,20,0
477,5032,2023-12-12 06:15:57,150,58,20,53,20,37,20,0
478,5032,2023-12-12 06:18:27,150,58,20,53,20,37,20,0
479,5032,2023-12-12 06:20:57,150,58,20,53,20,37,20,0
480,5032,2023-12-12 06:23:28,150,58,20,53,20,37,20,0
481,5032,2023-12-12 06:25:58,150,58,20,53,20,37,20,0
482,5032,2023-12-12 06:28:27,150,58,20,53,20,37,20,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
992,5032,2023-12-13 06:00:19,140,60,20,43,20,37,20,0
993,5032,2023-12-13 06:02:39,140,60,20,43,20,37,20,0
994,5032,2023-12-13 06:04:59,140,0,20,43,20,37,20,0
995,5032,2023-12-13 06:08:19,200,50,30,74,30,37,29,0
996,5032,2023-12-13 06:10:57,158,58,22,57,21,37,21,0
997,5032,2023-12-13 06:13:27,150,58,20,53,20,37,20,0
998,5032,2023-12-13 06:15:58,150,58,20,53,20,37,20,0
999,5032,2023-12-13 06:18:27,150,58,20,53,20,37,20,0
1000,5032,2023-12-13 06:20:57,150,58,20,53,20,37,20,0
1001,5032,2023-12-13 06:23:27,150,58,20,53,20,37,20,0
1002,5032,2023-12-13 06:25:57,150,58,20,53,20,37,20,0
1003,5032,2023-12-13 06:28:28,150,58,20,53,20,37,20,0

06:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
483,5032,2023-12-12 06:30:58,150,58,20,53,20,37,20,0
484,5032,2023-12-12 06:33:27,150,88,20,53,20,37,20,0
485,5032,2023-12-12 06:35:41,134,62,18,41,19,37,19,0
486,5032,2023-12-12 06:38:19,157,59,22,56,21,37,21,0
487,5032,2023-12-12 06:40:58,160,59,22,57,22,37,22,0
488,5032,2023-12-12 06:43:39,160,59,22,57,22,37,22,0
489,5032,2023-12-12 06:46:19,160,59,22,57,22,37,22,0
490,5032,2023-12-12 06:48:59,160,59,22,57,22,37,22,0
491,5032,2023-12-12 06:51:39,160,59,22,57,22,37,22,0
492,5032,2023-12-12 06:54:19,160,59,22,57,22,37,22,0
493,5032,2023-12-12 06:56:59,160,59,22,57,22,37,22,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1004,5032,2023-12-13 06:30:57,150,58,20,53,20,37,20,0
1005,5032,2023-12-13 06:33:27,150,88,20,53,20,37,20,0
1006,5032,2023-12-13 06:35:41,134,62,18,41,19,37,19,0
1007,5032,2023-12-13 06:38:19,157,59,22,56,21,37,21,0
1008,5032,2023-12-13 06:40:58,160,59,22,57,22,37,22,0
1009,5032,2023-12-13 06:43:38,160,59,22,57,22,37,22,0
1010,5032,2023-12-13 06:46:18,160,59,22,57,22,37,22,0
1011,5032,2023-12-13 06:48:59,160,59,22,57,22,37,22,0
1012,5032,2023-12-13 06:51:39,160,59,22,57,22,37,22,0
1013,5032,2023-12-13 06:54:18,160,59,22,57,22,37,22,0
1014,5032,2023-12-13 06:56:58,160,59,22,57,22,37,22,0

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 47
47

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
495,5032,2023-12-12 07:02:19,160,9,22,57,22,37,22,0
496,5032,2023-12-12 07:05:55,216,55,33,81,33,37,32,0
497,5032,2023-12-12 07:08:45,170,55,24,61,24,37,24,0
498,5032,2023-12-12 07:11:35,170,55,24,61,24,37,24,0
499,5032,2023-12-12 07:14:25,170,55,24,61,24,37,24,0
500,5032,2023-12-12 07:17:15,170,55,24,61,24,37,24,0
501,5032,2023-12-12 07:20:05,170,55,24,61,24,37,24,0
502,5032,2023-12-12 07:22:55,170,55,24,61,24,37,24,0
503,5032,2023-12-12 07:25:45,170,55,24,61,24,37,24,0
504,5032,2023-12-12 07:28:35,170,55,24,61,24,37,24,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1016,5032,2023-12-13 07:02:19,160,59,22,57,22,37,22,0
1017,5032,2023-12-13 07:04:58,160,169,22,57,22,37,22,0
1018,5032,2023-12-13 07:08:45,226,55,35,84,35,37,35,0
1019,5032,2023-12-13 07:11:34,170,55,24,61,24,37,24,0
1020,5032,2023-12-13 07:14:24,170,55,24,61,24,37,24,0
1021,5032,2023-12-13 07:17:15,170,55,24,61,24,37,24,0
1022,5032,2023-12-13 07:20:05,170,55,24,61,24,37,24,0
1023,5032,2023-12-13 07:22:55,170,55,24,61,24,37,24,0
1024,5032,2023-12-13 07:25:45,170,55,24,61,24,37,24,0
1025,5032,2023-12-13 07:28:35,170,55,24,61,24,37,24,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
531,5032,2023-12-12 09:30:25,170,55,24,61,24,37,24,0
532,5032,2023-12-12 09:33:14,170,55,24,61,24,37,24,0
533,5032,2023-12-12 09:36:04,170,55,24,61,24,37,24,0
534,5032,2023-12-12 09:38:54,170,55,24,61,24,37,24,0
535,5032,2023-12-12 09:41:44,170,55,24,61,24,37,24,0
536,5032,2023-12-12 09:44:34,170,55,24,61,24,37,24,0
537,5032,2023-12-12 09:47:24,170,55,24,61,24,37,24,0
538,5032,2023-12-12 09:50:14,170,55,24,61,24,37,24,0
539,5032,2023-12-12 09:53:05,170,55,24,61,24,37,24,0
540,5032,2023-12-12 09:55:54,170,55,24,61,24,37,24,0
541,5032,2023-12-12 09:58:45,170,55,24,61,24,37,24,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1068,5032,2023-12-13 09:30:25,170,55,24,61,24,37,24,0
1069,5032,2023-12-13 09:33:15,170,55,24,61,24,37,24,0
1070,5032,2023-12-13 09:36:05,170,55,24,61,24,37,24,0
1071,5032,2023-12-13 09:38:55,170,55,24,61,24,37,24,0
1072,5032,2023-12-13 09:41:45,170,55,24,61,24,37,24,0
1073,5032,2023-12-13 09:44:35,170,55,24,61,24,37,24,0
1074,5032,2023-12-13 09:47:25,170,55,24,61,24,37,24,0
1075,5032,2023-12-13 09:50:15,170,55,24,61,24,37,24,0
1076,5032,2023-12-13 09:53:05,170,55,24,61,24,37,24,0
1077,5032,2023-12-13 09:55:55,170,55,24,61,24,37,24,0
1078,5032,2023-12-13 09:58:45,170,55,24,61,24,37,24,0

5033
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5033,2023-12-12 06:00:11,140,52,42,62,36,0,0,0
472,5033,2023-12-12 06:02:32,140,52,42,62,36,0,0,0
473,5033,2023-12-12 06:04:52,140,142,42,62,36,0,0,0
474,5033,2023-12-12 06:08:12,200,42,54,94,52,0,0,0
475,5033,2023-12-12 06:10:43,152,44,43,71,38,0,0,0
476,5033,2023-12-12 06:13:14,150,44,42,70,38,0,0,0
477,5033,2023-12-12 06:15:44,150,44,42,70,38,0,0,0
478,5033,2023-12-12 06:18:14,150,44,42,70,38,0,0,0
479,5033,2023-12-12 06:20:44,150,44,42,70,38,0,0,0
480,5033,2023-12-12 06:23:14,150,44,42,70,38,0,0,0
481,5033,2023-12-12 06:25:44,150,44,42,70,38,0,0,0
482,5033,2023-12-12 06:28:14,150,44,42,70,38,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
993,5033,2023-12-13 06:00:11,140,52,42,62,36,0,0,0
994,5033,2023-12-13 06:02:31,140,52,42,62,36,0,0,0
995,5033,2023-12-13 06:04:51,140,142,42,62,36,0,0,0
996,5033,2023-12-13 06:08:11,200,42,54,94,52,0,0,0
997,5033,2023-12-13 06:10:43,152,44,43,71,38,0,0,0
998,5033,2023-12-13 06:13:13,150,44,42,70,38,0,0,0
999,5033,2023-12-13 06:15:43,150,44,42,70,38,0,0,0
1000,5033,2023-12-13 06:18:14,150,44,42,70,38,0,0,0
1001,5033,2023-12-13 06:20:44,150,44,42,70,38,0,0,0
1002,5033,2023-12-13 06:23:13,150,44,42,70,38,0,0,0
1003,5033,2023-12-13 06:25:44,150,44,42,70,38,0,0,0
1004,5033,2023-12-13 06:28:14,150,44,42,70,38,0,0,0

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
483,5033,2023-12-12 06:30:44,150,44,42,70,38,0,0,0
484,5033,2023-12-12 06:33:14,150,74,42,70,38,0,0,0
485,5033,2023-12-12 06:35:28,134,48,42,62,30,0,0,0
486,5033,2023-12-12 06:38:02,154,42,42,74,38,0,0,0
487,5033,2023-12-12 06:40:42,160,42,42,78,40,0,0,0
488,5033,2023-12-12 06:43:22,160,42,42,78,40,0,0,0
489,5033,2023-12-12 06:46:02,160,42,42,78,40,0,0,0
490,5033,2023-12-12 06:48:42,160,42,42,78,40,0,0,0
491,5033,2023-12-12 06:51:22,160,42,42,78,40,0,0,0
492,5033,2023-12-12 06:54:02,160,42,42,78,40,0,0,0
493,5033,2023-12-12 06:56:42,160,42,42,78,40,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1005,5033,2023-12-13 06:30:44,150,44,42,70,38,0,0,0
1006,5033,2023-12-13 06:33:14,150,74,42,70,38,0,0,0
1007,5033,2023-12-13 06:35:28,134,48,42,62,30,0,0,0
1008,5033,2023-12-13 06:38:02,154,42,42,74,38,0,0,0
1009,5033,2023-12-13 06:40:41,160,42,42,78,40,0,0,0
1010,5033,2023-12-13 06:43:21,160,42,42,78,40,0,0,0
1011,5033,2023-12-13 06:46:01,160,42,42,78,40,0,0,0
1012,5033,2023-12-13 06:48:41,160,42,42,78,40,0,0,0
1013,5033,2023-12-13 06:51:22,160,42,42,78,40,0,0,0
1014,5033,2023-12-13 06:54:02,160,42,42,78,40,0,0,0
1015,5033,2023-12-13 06:56:42,160,42,42,78,40,0,0,0

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
495,5033,2023-12-12 07:02:02,160,42,42,78,40,0,0,0
496,5033,2023-12-12 07:04:42,160,152,42,78,40,0,0,0
497,5033,2023-12-12 07:08:22,220,32,54,112,54,0,0,0
498,5033,2023-12-12 07:11:12,170,32,42,86,42,0,0,0
499,5033,2023-12-12 07:14:02,170,33,42,86,42,0,0,0
500,5033,2023-12-12 07:16:51,169,32,42,85,42,0,0,0
501,5033,2023-12-12 07:19:41,170,31,42,86,42,0,0,0
502,5033,2023-12-12 07:22:32,171,32,42,87,42,0,0,0
503,5033,2023-12-12 07:25:22,170,32,42,86,42,0,0,0
504,5033,2023-12-12 07:28:12,170,33,42,86,42,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1017,5033,2023-12-13 07:02:01,160,42,42,78,40,0,0,0
1018,5033,2023-12-13 07:04:42,160,152,42,78,40,0,0,0
1019,5033,2023-12-13 07:08:22,220,32,54,112,54,0,0,0
1020,5033,2023-12-13 07:11:12,170,32,42,86,42,0,0,0
1021,5033,2023-12-13 07:14:01,170,32,42,86,42,0,0,0
1022,5033,2023-12-13 07:16:52,170,32,42,86,42,0,0,0
1023,5033,2023-12-13 07:19:42,170,32,42,86,42,0,0,0
1024,5033,2023-12-13 07:22:32,170,32,42,86,42,0,0,0
1025,5033,2023-12-13 07:25:22,170,32,42,86,42,0,0,0
1026,5033,2023-12-13 07:28:12,170,32,42,86,42,0,0,0

09:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
531,5033,2023-12-12 09:30:02,170,32,42,86,42,0,0,0
532,5033,2023-12-12 09:32:52,170,32,42,86,42,0,0,0
533,5033,2023-12-12 09:35:58,186,48,46,94,46,0,0,0
534,5033,2023-12-12 09:38:48,170,48,42,86,42,0,0,0
535,5033,2023-12-12 09:41:38,170,48,42,86,42,0,0,0
536,5033,2023-12-12 09:44:28,170,48,42,86,42,0,0,0
537,5033,2023-12-12 09:47:18,170,48,42,86,42,0,0,0
538,5033,2023-12-12 09:50:08,170,48,42,86,42,0,0,0
539,5033,2023-12-12 09:52:58,170,48,42,86,42,0,0,0
540,5033,2023-12-12 09:55:48,170,48,42,86,42,0,0,0
541,5033,2023-12-12 09:58:38,170,48,42,86,42,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1069,5033,2023-12-13 09:30:01,170,32,42,86,42,0,0,0
1070,5033,2023-12-13 09:32:51,170,32,42,86,42,0,0,0
1071,5033,2023-12-13 09:35:57,186,48,46,94,46,0,0,0
1072,5033,2023-12-13 09:38:47,170,48,42,86,42,0,0,0
1073,5033,2023-12-13 09:41:37,170,48,42,86,42,0,0,0
1074,5033,2023-12-13 09:44:28,170,48,42,86,42,0,0,0
1075,5033,2023-12-13 09:47:17,170,48,42,86,42,0,0,0
1076,5033,2023-12-13 09:50:07,170,48,42,86,42,0,0,0
1077,5033,2023-12-13 09:52:58,170,48,42,86,42,0,0,0
1078,5033,2023-12-13 09:55:48,170,48,42,86,42,0,0,0
1079,5033,2023-12-13 09:58:37,170,48,42,86,42,0,0,0

5034
05:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 31
31

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
449,5034,2023-12-12 05:32:16,150,96,43,21,43,43,0,0
450,5034,2023-12-12 05:35:49,213,149,60,35,61,57,0,0
451,5034,2023-12-12 05:38:37,167,156,47,27,48,45,0,0
452,5034,2023-12-12 05:41:17,160,156,45,26,46,43,0,0
453,5034,2023-12-12 05:43:56,160,156,45,26,46,43,0,0
454,5034,2023-12-12 05:46:37,160,156,45,26,46,43,0,0
455,5034,2023-12-12 05:49:17,160,156,45,26,46,43,0,0
456,5034,2023-12-12 05:51:56,160,156,45,26,46,43,0,0
457,5034,2023-12-12 05:54:36,160,156,45,26,46,43,0,0
458,5034,2023-12-12 05:57:16,160,156,45,26,46,43,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
954,5034,2023-12-13 05:30:07,150,7,43,21,43,43,0,0
955,5034,2023-12-13 05:32:37,150,117,43,21,43,43,0,0
956,5034,2023-12-13 05:35:16,160,117,45,26,46,43,0,0
957,5034,2023-12-13 05:38:37,200,158,56,33,57,54,0,0
958,5034,2023-12-13 05:41:17,160,158,45,26,46,43,0,0
959,5034,2023-12-13 05:43:57,160,157,45,26,46,43,0,0
960,5034,2023-12-13 05:46:37,160,158,45,26,46,43,0,0
961,5034,2023-12-13 05:49:17,160,158,45,26,46,43,0,0
962,5034,2023-12-13 05:51:57,160,158,45,26,46,43,0,0
963,5034,2023-12-13 05:54:37,160,158,45,26,46,43,0,0
964,5034,2023-12-13 05:57:17,160,158,45,26,46,43,0,0

06:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 52
52

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5034,2023-12-12 06:31:56,160,156,45,26,46,43,0,0
472,5034,2023-12-12 06:34:36,160,46,45,26,46,43,0,0
473,5034,2023-12-12 06:37:06,150,26,43,21,43,43,0,0
474,5034,2023-12-12 06:39:36,150,6,43,21,43,43,0,0
475,5034,2023-12-12 06:42:10,154,161,43,25,43,43,0,0
476,5034,2023-12-12 06:44:59,169,159,48,30,48,43,0,0
477,5034,2023-12-12 06:47:50,171,160,48,30,50,43,0,0
478,5034,2023-12-12 06:50:40,170,160,48,30,49,43,0,0
479,5034,2023-12-12 06:53:30,170,160,48,30,49,43,0,0
480,5034,2023-12-12 06:56:20,170,161,48,30,49,43,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
977,5034,2023-12-13 06:31:57,160,158,45,26,46,43,0,0
978,5034,2023-12-13 06:35:39,222,110,63,39,64,56,0,0
979,5034,2023-12-13 06:39:22,222,162,63,39,64,56,0,0
980,5034,2023-12-13 06:42:12,170,162,48,30,49,43,0,0
981,5034,2023-12-13 06:45:01,170,162,48,30,49,43,0,0
982,5034,2023-12-13 06:47:51,170,162,48,30,49,43,0,0
983,5034,2023-12-13 06:50:41,170,162,48,30,49,43,0,0
984,5034,2023-12-13 06:53:31,170,162,48,30,49,43,0,0
985,5034,2023-12-13 06:56:21,170,162,48,30,49,43,0,0

07:00
안정화된 수집시각의 차이 : -3
처음 여섯 현시시각의 차이(L1 norm) : 43
43

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5034,2023-12-12 07:01:59,170,120,48,30,49,43,0,0
483,5034,2023-12-12 07:05:37,218,158,64,40,62,52,0,0
484,5034,2023-12-12 07:08:37,180,158,53,33,51,43,0,0
485,5034,2023-12-12 07:11:37,180,158,53,33,51,43,0,0
486,5034,2023-12-12 07:14:37,180,158,53,33,51,43,0,0
487,5034,2023-12-12 07:17:30,137,158,53,33,51,0,0,0
488,5034,2023-12-12 07:18:13,79,14,0,0,0,79,0,0
489,5034,2023-12-12 07:20:43,150,163,43,21,43,43,0,0
490,5034,2023-12-12 07:23:38,175,159,52,32,48,43,0,0
491,5034,2023-12-12 07:26:37,179,157,53,33,50,43,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
987,5034,2023-12-13 07:02:02,170,122,48,30,49,43,0,0
988,5034,2023-12-13 07:05:40,218,160,64,40,62,52,0,0
989,5034,2023-12-13 07:08:40,180,160,53,33,51,43,0,0
990,5034,2023-12-13 07:11:40,180,160,53,33,51,43,0,0
991,5034,2023-12-13 07:14:40,180,160,53,33,51,43,0,0
992,5034,2023-12-13 07:17:39,180,160,53,33,51,43,0,0
993,5034,2023-12-13 07:20:40,180,160,53,33,51,43,0,0
994,5034,2023-12-13 07:23:39,180,160,53,33,51,43,0,0
995,5034,2023-12-13 07:26:40,180,160,53,33,51,43,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5034,2023-12-12 09:32:38,180,18,53,33,51,43,0,0
518,5034,2023-12-12 09:35:08,150,168,43,21,43,43,0,0
519,5034,2023-12-12 09:37:47,159,157,44,29,43,43,0,0
520,5034,2023-12-12 09:40:37,170,157,51,33,43,43,0,0
521,5034,2023-12-12 09:43:27,170,157,51,33,43,43,0,0
522,5034,2023-12-12 09:46:17,170,157,51,33,43,43,0,0
523,5034,2023-12-12 09:49:07,170,157,51,33,43,43,0,0
524,5034,2023-12-12 09:51:57,170,157,51,33,43,43,0,0
525,5034,2023-12-12 09:54:47,170,157,51,33,43,43,0,0
526,5034,2023-12-12 09:57:37,170,157,51,33,43,43,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1037,5034,2023-12-13 09:32:38,180,18,53,33,51,43,0,0
1038,5034,2023-12-13 09:35:08,150,168,43,21,43,43,0,0
1039,5034,2023-12-13 09:37:46,159,157,44,29,43,43,0,0
1040,5034,2023-12-13 09:40:37,170,157,51,33,43,43,0,0
1041,5034,2023-12-13 09:43:27,170,157,51,33,43,43,0,0
1042,5034,2023-12-13 09:46:17,170,157,51,33,43,43,0,0
1043,5034,2023-12-13 09:49:07,170,157,51,33,43,43,0,0
1044,5034,2023-12-13 09:51:57,170,157,51,33,43,43,0,0
1045,5034,2023-12-13 09:54:47,170,157,51,33,43,43,0,0
1046,5034,2023-12-13 09:57:37,170,157,51,33,43,43,0,0

5035
05:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 5
5

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
449,5035,2023-12-12 05:32:30,151,109,57,28,33,33,0,0
450,5035,2023-12-12 05:35:39,189,138,73,36,41,39,0,0
451,5035,2023-12-12 05:38:19,160,138,62,30,35,33,0,0
452,5035,2023-12-12 05:40:59,160,138,62,30,35,33,0,0
453,5035,2023-12-12 05:43:39,160,139,62,30,35,33,0,0
454,5035,2023-12-12 05:46:18,159,138,61,30,35,33,0,0
455,5035,2023-12-12 05:48:58,160,138,62,30,35,33,0,0
456,5035,2023-12-12 05:51:36,160,137,62,30,35,33,0,0
457,5035,2023-12-12 05:54:18,161,138,63,30,35,33,0,0
458,5035,2023-12-12 05:56:58,160,138,62,30,35,33,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
954,5035,2023-12-13 05:32:28,149,109,55,28,33,33,0,0
955,5035,2023-12-13 05:35:37,189,137,73,36,41,39,0,0
956,5035,2023-12-13 05:38:18,161,139,63,30,35,33,0,0
957,5035,2023-12-13 05:40:57,159,138,61,30,35,33,0,0
958,5035,2023-12-13 05:43:37,160,138,62,30,35,33,0,0
959,5035,2023-12-13 05:46:18,160,138,62,30,35,33,0,0
960,5035,2023-12-13 05:48:58,160,138,62,30,35,33,0,0
961,5035,2023-12-13 05:51:37,160,137,62,30,35,33,0,0
962,5035,2023-12-13 05:54:18,161,138,63,30,35,33,0,0
963,5035,2023-12-13 05:56:58,160,138,62,30,35,33,0,0

06:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 2
2

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5035,2023-12-12 06:31:37,159,138,61,30,35,33,0,0
472,5035,2023-12-12 06:34:18,160,28,62,30,35,33,0,0
473,5035,2023-12-12 06:36:40,143,0,54,26,34,29,0,0
474,5035,2023-12-12 06:39:07,146,147,55,27,34,30,0,0
475,5035,2023-12-12 06:41:56,169,146,63,31,40,35,0,0
476,5035,2023-12-12 06:44:46,170,146,64,31,40,35,0,0
477,5035,2023-12-12 06:47:35,170,145,64,31,40,35,0,0
478,5035,2023-12-12 06:50:26,171,146,65,31,40,35,0,0
479,5035,2023-12-12 06:53:16,170,146,64,31,40,35,0,0
480,5035,2023-12-12 06:56:06,170,146,64,31,40,35,0,0
481,5035,2023-12-12 06:58:56,170,146,64,31,40,35,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
976,5035,2023-12-13 06:31:38,160,138,62,30,35,33,0,0
977,5035,2023-12-13 06:34:18,160,28,62,30,35,33,0,0
978,5035,2023-12-13 06:36:40,143,1,54,26,34,29,0,0
979,5035,2023-12-13 06:39:06,145,147,55,26,34,30,0,0
980,5035,2023-12-13 06:41:55,169,145,63,31,40,35,0,0
981,5035,2023-12-13 06:44:45,171,145,65,31,40,35,0,0
982,5035,2023-12-13 06:47:36,171,147,65,31,40,35,0,0
983,5035,2023-12-13 06:50:25,169,146,63,31,40,35,0,0
984,5035,2023-12-13 06:53:15,170,146,64,31,40,35,0,0
985,5035,2023-12-13 06:56:05,170,146,64,31,40,35,0,0
986,5035,2023-12-13 06:58:55,170,146,64,31,40,35,0,0

07:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5035,2023-12-12 07:01:46,170,106,64,31,40,35,0,0
483,5035,2023-12-12 07:05:26,219,146,79,39,56,45,0,0
484,5035,2023-12-12 07:08:24,179,145,64,32,46,37,0,0
485,5035,2023-12-12 07:11:24,180,145,65,32,46,37,0,0
486,5035,2023-12-12 07:14:24,180,145,65,32,46,37,0,0
487,5035,2023-12-12 07:17:24,180,145,65,32,46,37,0,0
488,5035,2023-12-12 07:20:24,180,145,65,32,46,37,0,0
489,5035,2023-12-12 07:23:24,180,144,65,32,46,37,0,0
490,5035,2023-12-12 07:26:25,181,145,66,32,46,37,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
987,5035,2023-12-13 07:01:45,170,106,64,31,40,35,0,0
988,5035,2023-12-13 07:05:25,219,145,79,39,56,45,0,0
989,5035,2023-12-13 07:08:25,180,145,65,32,46,37,0,0
990,5035,2023-12-13 07:11:25,180,145,65,32,46,37,0,0
991,5035,2023-12-13 07:14:25,180,145,65,32,46,37,0,0
992,5035,2023-12-13 07:17:25,180,145,65,32,46,37,0,0
993,5035,2023-12-13 07:20:25,180,145,65,32,46,37,0,0
994,5035,2023-12-13 07:23:25,180,145,65,32,46,37,0,0
995,5035,2023-12-13 07:26:24,180,145,65,32,46,37,0,0

09:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
516,5035,2023-12-12 09:32:25,180,5,65,32,46,37,0,0
517,5035,2023-12-12 09:34:48,144,149,52,26,33,33,0,0
518,5035,2023-12-12 09:37:38,170,149,61,31,39,39,0,0
519,5035,2023-12-12 09:40:29,170,149,61,31,39,39,0,0
520,5035,2023-12-12 09:43:18,170,149,61,31,39,39,0,0
521,5035,2023-12-12 09:46:08,170,149,61,31,39,39,0,0
522,5035,2023-12-12 09:48:59,170,149,61,31,39,39,0,0
523,5035,2023-12-12 09:51:49,170,149,61,31,39,39,0,0
524,5035,2023-12-12 09:54:39,170,149,61,31,39,39,0,0
525,5035,2023-12-12 09:57:28,170,148,61,31,39,39,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1037,5035,2023-12-13 09:32:25,180,5,65,32,46,37,0,0
1038,5035,2023-12-13 09:34:49,144,149,52,26,33,33,0,0
1039,5035,2023-12-13 09:37:39,170,149,61,31,39,39,0,0
1040,5035,2023-12-13 09:40:29,170,149,61,31,39,39,0,0
1041,5035,2023-12-13 09:43:19,170,149,61,31,39,39,0,0
1042,5035,2023-12-13 09:46:09,170,149,61,31,39,39,0,0
1043,5035,2023-12-13 09:48:59,170,149,61,31,39,39,0,0
1044,5035,2023-12-13 09:51:49,170,149,61,31,39,39,0,0
1045,5035,2023-12-13 09:54:38,170,148,61,31,39,39,0,0
1046,5035,2023-12-13 09:57:29,171,149,62,31,39,39,0,0

5036
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 11
11

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
460,5036,2023-12-12 06:01:35,151,95,36,40,19,30,26,0
461,5036,2023-12-12 06:04:05,150,85,35,40,19,30,26,0
462,5036,2023-12-12 06:07:00,175,100,40,48,25,30,32,0
463,5036,2023-12-12 06:09:43,163,103,37,44,23,30,29,0
464,5036,2023-12-12 06:12:24,161,104,37,43,22,30,29,0
465,5036,2023-12-12 06:15:04,160,104,36,43,22,30,29,0
466,5036,2023-12-12 06:17:44,160,104,36,43,22,30,29,0
467,5036,2023-12-12 06:20:24,160,104,36,43,22,30,29,0
468,5036,2023-12-12 06:23:04,160,105,36,43,22,30,29,0
469,5036,2023-12-12 06:25:43,159,104,36,43,22,30,28,0
470,5036,2023-12-12 06:28:23,160,103,36,43,22,30,29,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
967,5036,2023-12-13 06:01:35,151,95,36,40,19,30,26,0
968,5036,2023-12-13 06:04:22,167,103,38,45,23,30,31,0
969,5036,2023-12-13 06:07:03,161,103,37,43,22,30,29,0
970,5036,2023-12-13 06:09:44,161,105,37,43,22,30,29,0
971,5036,2023-12-13 06:12:23,159,103,36,43,22,30,28,0
972,5036,2023-12-13 06:15:04,161,105,37,43,22,30,29,0
973,5036,2023-12-13 06:17:43,159,104,36,43,22,30,28,0
974,5036,2023-12-13 06:20:23,160,104,36,43,22,30,29,0
975,5036,2023-12-13 06:23:03,160,104,36,43,22,30,29,0
976,5036,2023-12-13 06:25:43,160,104,36,43,22,30,29,0
977,5036,2023-12-13 06:28:23,160,104,36,43,22,30,29,0

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 2
2

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5036,2023-12-12 06:31:04,161,104,37,43,22,30,29,0
472,5036,2023-12-12 06:33:44,160,164,36,43,22,30,29,0
473,5036,2023-12-12 06:36:07,143,137,31,38,19,30,25,0
474,5036,2023-12-12 06:38:33,146,113,31,39,20,30,26,0
475,5036,2023-12-12 06:41:23,170,114,37,46,25,30,32,0
476,5036,2023-12-12 06:44:12,169,112,37,46,25,30,31,0
477,5036,2023-12-12 06:47:03,171,114,38,46,25,30,32,0
478,5036,2023-12-12 06:49:52,169,112,37,46,25,30,31,0
479,5036,2023-12-12 06:52:43,171,114,38,46,25,30,32,0
480,5036,2023-12-12 06:55:32,169,112,37,46,25,30,31,0
481,5036,2023-12-12 06:58:23,171,113,38,46,25,30,32,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
978,5036,2023-12-13 06:31:03,160,103,36,43,22,30,29,0
979,5036,2023-12-13 06:33:44,161,165,37,43,22,30,29,0
980,5036,2023-12-13 06:36:07,143,137,31,38,19,30,25,0
981,5036,2023-12-13 06:38:33,146,114,31,39,20,30,26,0
982,5036,2023-12-13 06:41:22,169,113,37,46,25,30,31,0
983,5036,2023-12-13 06:44:12,170,113,37,46,25,30,32,0
984,5036,2023-12-13 06:47:02,170,113,37,46,25,30,32,0
985,5036,2023-12-13 06:49:52,170,112,37,46,25,30,32,0
986,5036,2023-12-13 06:52:43,171,114,38,46,25,30,32,0
987,5036,2023-12-13 06:55:32,169,112,37,46,25,30,31,0
988,5036,2023-12-13 06:58:23,171,114,38,46,25,30,32,0

07:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5036,2023-12-12 07:01:13,170,113,37,46,25,30,32,0
483,5036,2023-12-12 07:04:03,170,63,37,46,25,30,32,0
484,5036,2023-12-12 07:07:58,235,119,52,67,39,30,47,0
485,5036,2023-12-12 07:11:00,182,121,39,50,28,30,35,0
486,5036,2023-12-12 07:14:01,181,121,39,49,28,30,35,0
487,5036,2023-12-12 07:17:02,181,122,39,49,28,30,35,0
488,5036,2023-12-12 07:20:02,180,122,38,49,28,30,35,0
489,5036,2023-12-12 07:23:02,180,122,38,49,28,30,35,0
490,5036,2023-12-12 07:26:02,180,122,38,49,28,30,35,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
989,5036,2023-12-13 07:01:12,169,113,37,46,25,30,31,0
990,5036,2023-12-13 07:04:02,170,63,37,46,25,30,32,0
991,5036,2023-12-13 07:07:57,235,118,52,67,39,30,47,0
992,5036,2023-12-13 07:11:00,183,121,39,50,29,30,35,0
993,5036,2023-12-13 07:14:01,181,122,39,49,28,30,35,0
994,5036,2023-12-13 07:17:01,180,121,38,49,28,30,35,0
995,5036,2023-12-13 07:20:02,181,123,39,49,28,30,35,0
996,5036,2023-12-13 07:23:01,179,122,38,49,28,30,34,0
997,5036,2023-12-13 07:26:01,180,122,38,49,28,30,35,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5036,2023-12-12 09:32:01,180,152,38,49,28,30,35,0
518,5036,2023-12-12 09:34:24,143,124,31,38,19,30,25,0
519,5036,2023-12-12 09:37:03,159,113,35,43,22,30,29,0
520,5036,2023-12-12 09:39:53,170,114,37,46,25,30,32,0
521,5036,2023-12-12 09:42:42,169,113,37,46,25,30,31,0
522,5036,2023-12-12 09:45:32,170,113,37,46,25,30,32,0
523,5036,2023-12-12 09:48:22,170,113,37,46,25,30,32,0
524,5036,2023-12-12 09:51:12,170,113,37,46,25,30,32,0
525,5036,2023-12-12 09:54:02,170,113,37,46,25,30,32,0
526,5036,2023-12-12 09:56:53,170,113,37,46,25,30,32,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1039,5036,2023-12-13 09:32:01,180,152,38,49,28,30,35,0
1040,5036,2023-12-13 09:34:25,143,125,31,38,19,30,25,0
1041,5036,2023-12-13 09:37:02,158,113,34,43,22,30,29,0
1042,5036,2023-12-13 09:39:52,170,113,37,46,25,30,32,0
1043,5036,2023-12-13 09:42:43,170,113,37,46,25,30,32,0
1044,5036,2023-12-13 09:45:33,170,113,37,46,25,30,32,0
1045,5036,2023-12-13 09:48:23,170,113,37,46,25,30,32,0
1046,5036,2023-12-13 09:51:13,170,113,37,46,25,30,32,0
1047,5036,2023-12-13 09:54:03,170,113,37,46,25,30,32,0
1048,5036,2023-12-13 09:56:53,170,113,37,46,25,30,32,0

5037
06:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 47
47

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
487,5037,2023-12-12 06:01:26,140,87,37,45,30,28,0,0
488,5037,2023-12-12 06:04:43,197,134,50,71,39,37,0,0
489,5037,2023-12-12 06:07:13,150,134,38,54,30,28,0,0
490,5037,2023-12-12 06:09:43,150,134,38,54,30,28,0,0
491,5037,2023-12-12 06:12:13,150,134,38,54,30,28,0,0
492,5037,2023-12-12 06:14:43,150,134,38,54,30,28,0,0
493,5037,2023-12-12 06:17:13,150,134,38,54,30,28,0,0
494,5037,2023-12-12 06:19:43,150,134,38,54,30,28,0,0
495,5037,2023-12-12 06:22:13,150,134,38,54,30,28,0,0
496,5037,2023-12-12 06:24:43,150,134,38,54,30,28,0,0
497,5037,2023-12-12 06:27:14,150,134,38,54,30,28,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1023,5037,2023-12-13 06:01:26,140,127,37,45,30,28,0,0
1024,5037,2023-12-13 06:03:46,140,77,37,45,30,28,0,0
1025,5037,2023-12-13 06:07:06,200,127,51,72,40,37,0,0
1026,5037,2023-12-13 06:09:43,157,134,40,57,31,29,0,0
1027,5037,2023-12-13 06:12:13,150,134,38,54,30,28,0,0
1028,5037,2023-12-13 06:14:43,150,134,38,54,30,28,0,0
1029,5037,2023-12-13 06:17:13,150,134,38,54,30,28,0,0
1030,5037,2023-12-13 06:19:43,150,134,38,54,30,28,0,0
1031,5037,2023-12-13 06:22:13,150,134,38,54,30,28,0,0
1032,5037,2023-12-13 06:24:43,150,134,38,54,30,28,0,0
1033,5037,2023-12-13 06:27:13,150,134,38,54,30,28,0,0

06:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 15
15

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
499,5037,2023-12-12 06:32:13,150,14,38,54,30,28,0,0
500,5037,2023-12-12 06:34:27,134,148,37,49,20,28,0,0
501,5037,2023-12-12 06:37:05,158,146,39,62,29,28,0,0
502,5037,2023-12-12 06:39:45,160,146,39,63,30,28,0,0
503,5037,2023-12-12 06:42:25,160,146,39,63,30,28,0,0
504,5037,2023-12-12 06:45:05,160,146,39,63,30,28,0,0
505,5037,2023-12-12 06:47:45,160,146,39,63,30,28,0,0
506,5037,2023-12-12 06:50:25,160,146,39,63,30,28,0,0
507,5037,2023-12-12 06:53:05,160,146,39,63,30,28,0,0
508,5037,2023-12-12 06:55:45,160,146,39,63,30,28,0,0
509,5037,2023-12-12 06:58:26,160,146,39,63,30,28,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1035,5037,2023-12-13 06:32:13,150,134,38,54,30,28,0,0
1036,5037,2023-12-13 06:34:43,150,4,38,54,30,28,0,0
1037,5037,2023-12-13 06:37:05,142,146,37,53,24,28,0,0
1038,5037,2023-12-13 06:39:45,160,146,39,63,30,28,0,0
1039,5037,2023-12-13 06:42:25,160,146,39,63,30,28,0,0
1040,5037,2023-12-13 06:45:05,160,146,39,63,30,28,0,0
1041,5037,2023-12-13 06:47:45,160,146,39,63,30,28,0,0
1042,5037,2023-12-13 06:50:25,160,146,39,63,30,28,0,0
1043,5037,2023-12-13 06:53:05,160,146,39,63,30,28,0,0
1044,5037,2023-12-13 06:55:45,160,146,39,63,30,28,0,0
1045,5037,2023-12-13 06:58:25,160,146,39,63,30,28,0,0

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
510,5037,2023-12-12 07:01:06,160,146,39,63,30,28,0,0
511,5037,2023-12-12 07:03:46,160,96,39,63,30,28,0,0
512,5037,2023-12-12 07:07:32,226,152,53,96,40,37,0,0
513,5037,2023-12-12 07:10:28,176,158,41,75,31,29,0,0
514,5037,2023-12-12 07:13:18,170,158,40,72,30,28,0,0
515,5037,2023-12-12 07:16:08,170,158,40,72,30,28,0,0
516,5037,2023-12-12 07:18:57,170,158,40,72,30,28,0,0
517,5037,2023-12-12 07:21:48,170,158,40,72,30,28,0,0
518,5037,2023-12-12 07:24:38,170,158,40,72,30,28,0,0
519,5037,2023-12-12 07:27:28,170,158,40,72,30,28,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1046,5037,2023-12-13 07:01:05,160,146,39,63,30,28,0,0
1047,5037,2023-12-13 07:03:46,160,96,39,63,30,28,0,0
1048,5037,2023-12-13 07:07:32,226,152,53,96,40,37,0,0
1049,5037,2023-12-13 07:10:28,176,158,41,75,31,29,0,0
1050,5037,2023-12-13 07:13:18,170,158,40,72,30,28,0,0
1051,5037,2023-12-13 07:16:08,170,158,40,72,30,28,0,0
1052,5037,2023-12-13 07:18:58,170,158,40,72,30,28,0,0
1053,5037,2023-12-13 07:21:48,170,158,40,72,30,28,0,0
1054,5037,2023-12-13 07:24:38,170,158,40,72,30,28,0,0
1055,5037,2023-12-13 07:27:28,170,158,40,72,30,28,0,0

09:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 29
29

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
547,5037,2023-12-12 09:32:07,170,158,40,72,30,28,0,0
548,5037,2023-12-12 09:34:57,170,98,40,72,30,28,0,0
549,5037,2023-12-12 09:38:22,205,143,47,81,41,36,0,0
550,5037,2023-12-12 09:41:02,160,143,37,63,32,28,0,0
551,5037,2023-12-12 09:43:43,160,143,37,63,32,28,0,0
552,5037,2023-12-12 09:46:23,160,143,37,63,32,28,0,0
553,5037,2023-12-12 09:49:02,160,143,37,63,32,28,0,0
554,5037,2023-12-12 09:51:42,160,143,37,63,32,28,0,0
555,5037,2023-12-12 09:54:22,160,143,37,63,32,28,0,0
556,5037,2023-12-12 09:57:03,160,143,37,63,32,28,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1099,5037,2023-12-13 09:32:07,170,88,40,72,30,28,0,0
1100,5037,2023-12-13 09:35:40,213,141,49,84,43,37,0,0
1101,5037,2023-12-13 09:38:22,162,143,38,64,32,28,0,0
1102,5037,2023-12-13 09:41:02,160,143,37,63,32,28,0,0
1103,5037,2023-12-13 09:43:42,160,143,37,63,32,28,0,0
1104,5037,2023-12-13 09:46:22,160,143,37,63,32,28,0,0
1105,5037,2023-12-13 09:49:02,160,143,37,63,32,28,0,0
1106,5037,2023-12-13 09:51:42,160,143,37,63,32,28,0,0
1107,5037,2023-12-13 09:54:23,160,143,37,63,32,28,0,0
1108,5037,2023-12-13 09:57:02,160,143,37,63,32,28,0,0

5038
06:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 64
64

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
488,5038,2023-12-12 06:01:58,140,119,26,65,29,20,0,0
489,5038,2023-12-12 06:05:18,200,19,35,99,40,26,0,0
490,5038,2023-12-12 06:07:48,150,19,26,74,30,20,0,0
491,5038,2023-12-12 06:10:18,150,19,26,74,30,20,0,0
492,5038,2023-12-12 06:12:48,150,19,26,74,30,20,0,0
493,5038,2023-12-12 06:15:18,150,19,26,74,30,20,0,0
494,5038,2023-12-12 06:17:48,150,19,26,74,30,20,0,0
495,5038,2023-12-12 06:20:18,150,19,26,74,30,20,0,0
496,5038,2023-12-12 06:22:48,150,19,26,74,30,20,0,0
497,5038,2023-12-12 06:25:18,150,19,26,74,30,20,0,0
498,5038,2023-12-12 06:27:48,150,19,26,74,30,20,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1022,5038,2023-12-13 06:01:59,140,19,26,65,29,20,0,0
1023,5038,2023-12-13 06:04:19,140,109,26,65,29,20,0,0
1024,5038,2023-12-13 06:07:39,200,9,35,99,40,26,0,0
1025,5038,2023-12-13 06:10:19,160,19,28,79,32,21,0,0
1026,5038,2023-12-13 06:12:49,150,19,26,74,30,20,0,0
1027,5038,2023-12-13 06:15:19,150,19,26,74,30,20,0,0
1028,5038,2023-12-13 06:17:49,150,19,26,74,30,20,0,0
1029,5038,2023-12-13 06:20:19,150,19,26,74,30,20,0,0
1030,5038,2023-12-13 06:22:49,150,19,26,74,30,20,0,0
1031,5038,2023-12-13 06:25:19,150,19,26,74,30,20,0,0
1032,5038,2023-12-13 06:27:49,150,19,26,74,30,20,0,0

06:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
499,5038,2023-12-12 06:30:18,150,19,26,74,30,20,0,0
500,5038,2023-12-12 06:32:48,150,49,26,74,30,20,0,0
501,5038,2023-12-12 06:35:02,134,23,26,58,30,20,0,0
502,5038,2023-12-12 06:37:38,156,19,26,72,38,20,0,0
503,5038,2023-12-12 06:40:18,160,19,26,74,40,20,0,0
504,5038,2023-12-12 06:42:58,160,19,26,74,40,20,0,0
505,5038,2023-12-12 06:45:38,160,19,26,74,40,20,0,0
506,5038,2023-12-12 06:48:18,160,19,26,74,40,20,0,0
507,5038,2023-12-12 06:50:58,160,19,26,74,40,20,0,0
508,5038,2023-12-12 06:53:38,160,19,26,74,40,20,0,0
509,5038,2023-12-12 06:56:18,160,19,26,74,40,20,0,0
510,5038,2023-12-12 06:58:58,160,19,26,74,40,20,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1033,5038,2023-12-13 06:30:19,150,19,26,74,30,20,0,0
1034,5038,2023-12-13 06:32:49,150,49,26,74,30,20,0,0
1035,5038,2023-12-13 06:35:03,134,23,26,58,30,20,0,0
1036,5038,2023-12-13 06:37:39,156,19,26,72,38,20,0,0
1037,5038,2023-12-13 06:40:19,160,19,26,74,40,20,0,0
1038,5038,2023-12-13 06:42:59,160,19,26,74,40,20,0,0
1039,5038,2023-12-13 06:45:39,160,19,26,74,40,20,0,0
1040,5038,2023-12-13 06:48:19,160,19,26,74,40,20,0,0
1041,5038,2023-12-13 06:50:59,160,19,26,74,40,20,0,0
1042,5038,2023-12-13 06:53:39,160,19,26,74,40,20,0,0
1043,5038,2023-12-13 06:56:19,160,19,26,74,40,20,0,0
1044,5038,2023-12-13 06:58:59,160,19,26,74,40,20,0,0

07:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
511,5038,2023-12-12 07:01:38,160,19,26,74,40,20,0,0
512,5038,2023-12-12 07:04:18,160,129,26,74,40,20,0,0
513,5038,2023-12-12 07:08:04,226,15,35,98,66,27,0,0
514,5038,2023-12-12 07:10:58,174,19,27,76,51,20,0,0
515,5038,2023-12-12 07:13:48,170,19,26,74,50,20,0,0
516,5038,2023-12-12 07:16:38,170,19,26,74,50,20,0,0
517,5038,2023-12-12 07:19:28,170,19,26,74,50,20,0,0
518,5038,2023-12-12 07:22:18,170,19,26,74,50,20,0,0
519,5038,2023-12-12 07:25:08,170,19,26,74,50,20,0,0
520,5038,2023-12-12 07:27:58,170,19,26,74,50,20,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1045,5038,2023-12-13 07:01:39,160,19,26,74,40,20,0,0
1046,5038,2023-12-13 07:04:19,160,129,26,74,40,20,0,0
1047,5038,2023-12-13 07:08:05,226,15,35,98,66,27,0,0
1048,5038,2023-12-13 07:10:59,174,19,27,76,51,20,0,0
1049,5038,2023-12-13 07:13:49,170,19,26,74,50,20,0,0
1050,5038,2023-12-13 07:16:39,170,19,26,74,50,20,0,0
1051,5038,2023-12-13 07:19:29,170,19,26,74,50,20,0,0
1052,5038,2023-12-13 07:22:19,170,19,26,74,50,20,0,0
1053,5038,2023-12-13 07:25:09,170,19,26,74,50,20,0,0
1054,5038,2023-12-13 07:27:59,170,19,26,74,50,20,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 42
42

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
548,5038,2023-12-12 09:32:38,170,19,26,74,50,20,0,0
549,5038,2023-12-12 09:35:28,170,129,26,74,50,20,0,0
550,5038,2023-12-12 09:38:48,200,9,33,93,50,24,0,0
551,5038,2023-12-12 09:41:28,160,9,26,74,40,20,0,0
552,5038,2023-12-12 09:44:08,160,9,26,74,40,20,0,0
553,5038,2023-12-12 09:46:48,160,9,26,74,40,20,0,0
554,5038,2023-12-12 09:49:28,160,9,26,74,40,20,0,0
555,5038,2023-12-12 09:52:08,160,9,26,74,40,20,0,0
556,5038,2023-12-12 09:54:48,160,8,26,74,40,20,0,0
557,5038,2023-12-12 09:57:29,161,9,27,74,40,20,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1098,5038,2023-12-13 09:32:39,170,119,26,74,50,20,0,0
1099,5038,2023-12-13 09:36:09,210,9,34,97,53,26,0,0
1100,5038,2023-12-13 09:38:49,160,9,26,74,40,20,0,0
1101,5038,2023-12-13 09:41:29,160,9,26,74,40,20,0,0
1102,5038,2023-12-13 09:44:09,160,9,26,74,40,20,0,0
1103,5038,2023-12-13 09:46:49,160,9,26,74,40,20,0,0
1104,5038,2023-12-13 09:49:29,160,9,26,74,40,20,0,0
1105,5038,2023-12-13 09:52:09,160,9,26,74,40,20,0,0
1106,5038,2023-12-13 09:54:49,160,9,26,74,40,20,0,0
1107,5038,2023-12-13 09:57:29,160,9,26,74,40,20,0,0

5039
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 38
38

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
460,5039,2023-12-12 06:01:09,150,70,45,105,0,0,0,0
461,5039,2023-12-12 06:03:39,150,60,45,105,0,0,0,0
462,5039,2023-12-12 06:06:40,180,80,45,135,0,0,0,0
463,5039,2023-12-12 06:09:20,160,80,45,115,0,0,0,0
464,5039,2023-12-12 06:12:00,160,80,45,115,0,0,0,0
465,5039,2023-12-12 06:14:39,160,80,45,115,0,0,0,0
466,5039,2023-12-12 06:17:19,160,80,45,115,0,0,0,0
467,5039,2023-12-12 06:20:00,160,81,45,115,0,0,0,0
468,5039,2023-12-12 06:22:39,159,79,45,114,0,0,0,0
469,5039,2023-12-12 06:25:20,161,80,45,116,0,0,0,0
470,5039,2023-12-12 06:28:00,160,80,45,115,0,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
966,5039,2023-12-13 06:01:11,150,71,45,105,0,0,0,0
967,5039,2023-12-13 06:03:59,169,79,45,124,0,0,0,0
968,5039,2023-12-13 06:06:40,161,80,45,116,0,0,0,0
969,5039,2023-12-13 06:09:20,160,80,45,115,0,0,0,0
970,5039,2023-12-13 06:12:00,160,80,45,115,0,0,0,0
971,5039,2023-12-13 06:14:41,160,81,45,115,0,0,0,0
972,5039,2023-12-13 06:17:19,159,80,45,114,0,0,0,0
973,5039,2023-12-13 06:19:59,160,80,45,115,0,0,0,0
974,5039,2023-12-13 06:22:39,160,79,45,115,0,0,0,0
975,5039,2023-12-13 06:25:20,161,80,45,116,0,0,0,0
976,5039,2023-12-13 06:28:00,160,80,45,115,0,0,0,0

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 35
35

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5039,2023-12-12 06:30:40,160,80,45,115,0,0,0,0
472,5039,2023-12-12 06:33:19,160,80,45,115,0,0,0,0
473,5039,2023-12-12 06:36:01,160,131,45,115,0,0,0,0
474,5039,2023-12-12 06:38:23,143,103,45,98,0,0,0,0
475,5039,2023-12-12 06:41:05,162,95,45,117,0,0,0,0
476,5039,2023-12-12 06:43:56,170,96,45,125,0,0,0,0
477,5039,2023-12-12 06:46:44,169,94,45,124,0,0,0,0
478,5039,2023-12-12 06:49:35,171,95,45,126,0,0,0,0
479,5039,2023-12-12 06:52:25,170,95,45,125,0,0,0,0
480,5039,2023-12-12 06:55:16,170,96,45,125,0,0,0,0
481,5039,2023-12-12 06:58:04,169,95,45,124,0,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
977,5039,2023-12-13 06:30:41,160,81,45,115,0,0,0,0
978,5039,2023-12-13 06:33:20,159,140,45,114,0,0,0,0
979,5039,2023-12-13 06:35:43,143,113,45,98,0,0,0,0
980,5039,2023-12-13 06:38:15,152,95,45,107,0,0,0,0
981,5039,2023-12-13 06:41:05,170,95,45,125,0,0,0,0
982,5039,2023-12-13 06:43:54,170,95,45,125,0,0,0,0
983,5039,2023-12-13 06:46:44,170,94,45,125,0,0,0,0
984,5039,2023-12-13 06:49:36,171,96,45,126,0,0,0,0
985,5039,2023-12-13 06:52:25,169,95,45,124,0,0,0,0
986,5039,2023-12-13 06:55:14,170,95,45,125,0,0,0,0
987,5039,2023-12-13 06:58:04,170,94,45,125,0,0,0,0

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 6
6

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5039,2023-12-12 07:00:54,170,94,45,125,0,0,0,0
483,5039,2023-12-12 07:03:46,171,46,45,126,0,0,0,0
484,5039,2023-12-12 07:07:45,239,105,45,194,0,0,0,0
485,5039,2023-12-12 07:10:44,180,105,45,135,0,0,0,0
486,5039,2023-12-12 07:13:44,180,104,45,135,0,0,0,0
487,5039,2023-12-12 07:16:46,181,106,45,136,0,0,0,0
488,5039,2023-12-12 07:19:44,179,105,45,134,0,0,0,0
489,5039,2023-12-12 07:22:44,180,104,45,135,0,0,0,0
490,5039,2023-12-12 07:25:46,181,106,45,136,0,0,0,0
491,5039,2023-12-12 07:28:45,179,105,45,134,0,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
988,5039,2023-12-13 07:00:56,171,96,45,126,0,0,0,0
989,5039,2023-12-13 07:03:45,169,45,45,124,0,0,0,0
990,5039,2023-12-13 07:07:44,239,104,45,194,0,0,0,0
991,5039,2023-12-13 07:10:45,181,105,45,136,0,0,0,0
992,5039,2023-12-13 07:13:45,180,106,45,135,0,0,0,0
993,5039,2023-12-13 07:16:44,179,104,45,134,0,0,0,0
994,5039,2023-12-13 07:19:45,181,105,45,136,0,0,0,0
995,5039,2023-12-13 07:22:45,180,106,45,135,0,0,0,0
996,5039,2023-12-13 07:25:44,179,104,45,134,0,0,0,0
997,5039,2023-12-13 07:28:45,181,105,45,136,0,0,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 78
78

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5039,2023-12-12 09:31:44,179,104,45,134,0,0,0,0
518,5039,2023-12-12 09:34:45,181,145,45,136,0,0,0,0
519,5039,2023-12-12 09:37:08,143,118,45,98,0,0,0,0
520,5039,2023-12-12 09:39:36,147,96,45,102,0,0,0,0
521,5039,2023-12-12 09:42:24,169,94,45,124,0,0,0,0
522,5039,2023-12-12 09:45:15,171,95,45,126,0,0,0,0
523,5039,2023-12-12 09:48:05,170,95,45,125,0,0,0,0
524,5039,2023-12-12 09:50:56,170,96,45,125,0,0,0,0
525,5039,2023-12-12 09:53:44,169,94,45,124,0,0,0,0
526,5039,2023-12-12 09:56:35,171,95,45,126,0,0,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1038,5039,2023-12-13 09:31:45,181,135,45,136,0,0,0,0
1039,5039,2023-12-13 09:34:08,143,109,45,98,0,0,0,0
1040,5039,2023-12-13 09:36:45,156,95,45,111,0,0,0,0
1041,5039,2023-12-13 09:39:35,170,95,45,125,0,0,0,0
1042,5039,2023-12-13 09:42:25,170,95,45,125,0,0,0,0
1043,5039,2023-12-13 09:45:14,170,94,45,125,0,0,0,0
1044,5039,2023-12-13 09:48:06,171,96,45,126,0,0,0,0
1045,5039,2023-12-13 09:50:55,169,95,45,124,0,0,0,0
1046,5039,2023-12-13 09:53:45,170,95,45,125,0,0,0,0
1047,5039,2023-12-13 09:56:35,170,95,45,125,0,0,0,0

5040
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 22
22

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
459,5040,2023-12-12 06:01:24,150,84,41,50,19,40,0,0
460,5040,2023-12-12 06:03:54,150,74,41,50,19,40,0,0
461,5040,2023-12-12 06:06:54,180,94,46,69,20,45,0,0
462,5040,2023-12-12 06:09:34,160,94,41,61,18,40,0,0
463,5040,2023-12-12 06:12:14,160,94,41,61,18,40,0,0
464,5040,2023-12-12 06:14:54,160,94,41,61,18,40,0,0
465,5040,2023-12-12 06:17:34,160,94,41,61,18,40,0,0
466,5040,2023-12-12 06:20:14,160,94,41,61,18,40,0,0
467,5040,2023-12-12 06:22:54,160,94,41,61,18,40,0,0
468,5040,2023-12-12 06:25:34,160,94,41,61,18,40,0,0
469,5040,2023-12-12 06:28:13,160,94,41,61,18,40,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
965,5040,2023-12-13 06:01:24,150,85,41,50,19,40,0,0
966,5040,2023-12-13 06:04:13,169,93,44,64,19,42,0,0
967,5040,2023-12-13 06:06:54,161,95,42,61,18,40,0,0
968,5040,2023-12-13 06:09:33,159,93,41,61,17,40,0,0
969,5040,2023-12-13 06:12:14,161,94,42,61,18,40,0,0
970,5040,2023-12-13 06:14:54,160,95,41,61,18,40,0,0
971,5040,2023-12-13 06:17:33,159,93,41,61,17,40,0,0
972,5040,2023-12-13 06:20:14,161,95,42,61,18,40,0,0
973,5040,2023-12-13 06:22:53,159,94,41,61,17,40,0,0
974,5040,2023-12-13 06:25:33,160,94,41,61,18,40,0,0
975,5040,2023-12-13 06:28:13,160,94,41,61,18,40,0,0

06:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 29
29

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
470,5040,2023-12-12 06:30:54,160,94,41,61,18,40,0,0
471,5040,2023-12-12 06:33:34,160,94,41,61,18,40,0,0
472,5040,2023-12-12 06:36:14,160,144,41,61,18,40,0,0
473,5040,2023-12-12 06:38:37,143,117,41,47,15,40,0,0
474,5040,2023-12-12 06:41:19,162,109,41,66,15,40,0,0
475,5040,2023-12-12 06:44:09,170,109,41,72,17,40,0,0
476,5040,2023-12-12 06:46:59,170,109,41,72,17,40,0,0
477,5040,2023-12-12 06:49:49,170,109,41,72,17,40,0,0
478,5040,2023-12-12 06:52:39,170,109,41,72,17,40,0,0
479,5040,2023-12-12 06:55:29,170,109,41,72,17,40,0,0
480,5040,2023-12-12 06:58:19,170,109,41,72,17,40,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
976,5040,2023-12-13 06:30:53,160,94,41,61,18,40,0,0
977,5040,2023-12-13 06:33:33,160,154,41,61,18,40,0,0
978,5040,2023-12-13 06:35:56,143,127,41,47,15,40,0,0
979,5040,2023-12-13 06:38:28,152,108,41,56,15,40,0,0
980,5040,2023-12-13 06:41:19,171,110,42,72,17,40,0,0
981,5040,2023-12-13 06:44:08,169,109,41,72,16,40,0,0
982,5040,2023-12-13 06:46:58,170,109,41,72,17,40,0,0
983,5040,2023-12-13 06:49:48,170,109,41,72,17,40,0,0
984,5040,2023-12-13 06:52:38,170,109,41,72,17,40,0,0
985,5040,2023-12-13 06:55:28,170,109,41,72,17,40,0,0
986,5040,2023-12-13 06:58:18,170,109,41,72,17,40,0,0

07:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
481,5040,2023-12-12 07:01:09,170,109,41,72,17,40,0,0
482,5040,2023-12-12 07:03:59,170,59,41,72,17,40,0,0
483,5040,2023-12-12 07:07:58,239,118,55,110,21,53,0,0
484,5040,2023-12-12 07:10:59,181,119,42,83,16,40,0,0
485,5040,2023-12-12 07:13:59,180,119,41,83,16,40,0,0
486,5040,2023-12-12 07:16:59,180,119,41,83,16,40,0,0
487,5040,2023-12-12 07:19:59,180,119,41,83,16,40,0,0
488,5040,2023-12-12 07:22:59,180,119,41,83,16,40,0,0
489,5040,2023-12-12 07:25:59,180,119,41,83,16,40,0,0
490,5040,2023-12-12 07:28:59,180,119,41,83,16,40,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
987,5040,2023-12-13 07:01:08,170,109,41,72,17,40,0,0
988,5040,2023-12-13 07:03:59,170,59,41,72,17,40,0,0
989,5040,2023-12-13 07:07:58,239,118,55,110,21,53,0,0
990,5040,2023-12-13 07:10:58,181,119,42,83,16,40,0,0
991,5040,2023-12-13 07:13:58,180,119,41,83,16,40,0,0
992,5040,2023-12-13 07:16:59,180,119,41,83,16,40,0,0
993,5040,2023-12-13 07:19:59,180,119,41,83,16,40,0,0
994,5040,2023-12-13 07:22:58,180,119,41,83,16,40,0,0
995,5040,2023-12-13 07:25:58,180,119,41,83,16,40,0,0
996,5040,2023-12-13 07:28:58,180,119,41,83,16,40,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
516,5040,2023-12-12 09:31:59,180,149,41,83,16,40,0,0
517,5040,2023-12-12 09:34:22,143,122,41,47,15,40,0,0
518,5040,2023-12-12 09:36:59,157,109,41,60,16,40,0,0
519,5040,2023-12-12 09:39:49,170,109,41,68,21,40,0,0
520,5040,2023-12-12 09:42:39,170,109,41,68,21,40,0,0
521,5040,2023-12-12 09:45:29,170,109,41,68,21,40,0,0
522,5040,2023-12-12 09:48:19,170,109,41,68,21,40,0,0
523,5040,2023-12-12 09:51:09,170,109,41,68,21,40,0,0
524,5040,2023-12-12 09:53:59,170,109,41,68,21,40,0,0
525,5040,2023-12-12 09:56:49,170,109,41,68,21,40,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1037,5040,2023-12-13 09:31:59,180,149,41,83,16,40,0,0
1038,5040,2023-12-13 09:34:22,143,122,41,47,15,40,0,0
1039,5040,2023-12-13 09:36:59,157,109,41,60,16,40,0,0
1040,5040,2023-12-13 09:39:49,170,109,41,68,21,40,0,0
1041,5040,2023-12-13 09:42:39,170,109,41,68,21,40,0,0
1042,5040,2023-12-13 09:45:29,170,109,41,68,21,40,0,0
1043,5040,2023-12-13 09:48:19,170,109,41,68,21,40,0,0
1044,5040,2023-12-13 09:51:09,170,109,41,68,21,40,0,0
1045,5040,2023-12-13 09:53:59,170,109,41,68,21,40,0,0
1046,5040,2023-12-13 09:56:49,170,109,41,68,21,40,0,0

5041
06:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 30
30

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
460,5041,2023-12-12 06:01:19,150,79,46,84,10,10,0,0
461,5041,2023-12-12 06:03:49,150,69,46,84,10,10,0,0
462,5041,2023-12-12 06:06:43,175,84,46,106,13,10,0,0
463,5041,2023-12-12 06:09:27,163,87,46,96,11,10,0,0
464,5041,2023-12-12 06:12:07,161,88,46,94,11,10,0,0
465,5041,2023-12-12 06:14:48,161,89,46,94,11,10,0,0
466,5041,2023-12-12 06:17:29,160,89,46,93,11,10,0,0
467,5041,2023-12-12 06:20:09,160,89,46,93,11,10,0,0
468,5041,2023-12-12 06:22:49,160,89,46,93,11,10,0,0
469,5041,2023-12-12 06:25:29,160,89,46,93,11,10,0,0
470,5041,2023-12-12 06:28:09,160,89,46,93,11,10,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
967,5041,2023-12-13 06:01:19,151,80,46,85,10,10,0,0
968,5041,2023-12-13 06:04:05,166,86,46,98,12,10,0,0
969,5041,2023-12-13 06:06:47,162,88,46,95,11,10,0,0
970,5041,2023-12-13 06:09:28,161,89,46,94,11,10,0,0
971,5041,2023-12-13 06:12:08,160,89,46,93,11,10,0,0
972,5041,2023-12-13 06:14:48,160,89,46,93,11,10,0,0
973,5041,2023-12-13 06:17:28,160,89,46,93,11,10,0,0
974,5041,2023-12-13 06:20:08,160,89,46,93,11,10,0,0
975,5041,2023-12-13 06:22:48,160,89,46,93,11,10,0,0
976,5041,2023-12-13 06:25:28,160,89,46,93,11,10,0,0
977,5041,2023-12-13 06:28:08,160,89,46,93,11,10,0,0

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 32
32

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5041,2023-12-12 06:30:49,160,89,46,93,11,10,0,0
472,5041,2023-12-12 06:33:29,160,89,46,93,11,10,0,0
473,5041,2023-12-12 06:36:09,160,139,46,93,11,10,0,0
474,5041,2023-12-12 06:38:32,143,112,46,77,10,10,0,0
475,5041,2023-12-12 06:41:14,162,104,46,96,10,10,0,0
476,5041,2023-12-12 06:44:04,170,104,46,103,11,10,0,0
477,5041,2023-12-12 06:46:54,170,104,46,103,11,10,0,0
478,5041,2023-12-12 06:49:44,170,104,46,103,11,10,0,0
479,5041,2023-12-12 06:52:34,170,104,46,103,11,10,0,0
480,5041,2023-12-12 06:55:24,170,104,46,103,11,10,0,0
481,5041,2023-12-12 06:58:14,170,104,46,103,11,10,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
978,5041,2023-12-13 06:30:48,160,89,46,93,11,10,0,0
979,5041,2023-12-13 06:33:28,160,149,46,93,11,10,0,0
980,5041,2023-12-13 06:35:51,143,122,46,77,10,10,0,0
981,5041,2023-12-13 06:38:24,152,104,46,86,10,10,0,0
982,5041,2023-12-13 06:41:13,170,104,46,103,11,10,0,0
983,5041,2023-12-13 06:44:03,170,104,46,103,11,10,0,0
984,5041,2023-12-13 06:46:53,170,104,46,103,11,10,0,0
985,5041,2023-12-13 06:49:43,170,104,46,103,11,10,0,0
986,5041,2023-12-13 06:52:33,170,104,46,103,11,10,0,0
987,5041,2023-12-13 06:55:24,170,104,46,103,11,10,0,0
988,5041,2023-12-13 06:58:14,170,104,46,103,11,10,0,0

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 3
3

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5041,2023-12-12 07:01:04,170,105,46,103,11,10,0,0
483,5041,2023-12-12 07:03:53,169,53,46,102,11,10,0,0
484,5041,2023-12-12 07:07:44,231,104,46,156,19,10,0,0
485,5041,2023-12-12 07:10:51,187,111,46,119,12,10,0,0
486,5041,2023-12-12 07:13:53,182,114,46,115,11,10,0,0
487,5041,2023-12-12 07:16:53,180,113,46,113,11,10,0,0
488,5041,2023-12-12 07:19:54,181,114,46,114,11,10,0,0
489,5041,2023-12-12 07:22:54,180,114,46,113,11,10,0,0
490,5041,2023-12-12 07:25:54,180,114,46,113,11,10,0,0
491,5041,2023-12-12 07:28:54,180,115,46,113,11,10,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
989,5041,2023-12-13 07:01:03,170,104,46,103,11,10,0,0
990,5041,2023-12-13 07:03:53,170,54,46,103,11,10,0,0
991,5041,2023-12-13 07:07:44,231,105,46,156,19,10,0,0
992,5041,2023-12-13 07:10:51,187,112,46,119,12,10,0,0
993,5041,2023-12-13 07:13:52,181,113,46,114,11,10,0,0
994,5041,2023-12-13 07:16:54,181,114,46,114,11,10,0,0
995,5041,2023-12-13 07:19:54,180,114,46,113,11,10,0,0
996,5041,2023-12-13 07:22:54,180,114,46,113,11,10,0,0
997,5041,2023-12-13 07:25:54,180,114,46,113,11,10,0,0
998,5041,2023-12-13 07:28:54,180,114,46,113,11,10,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 72
72

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5041,2023-12-12 09:31:54,180,114,46,113,11,10,0,0
518,5041,2023-12-12 09:34:53,180,154,46,113,11,10,0,0
519,5041,2023-12-12 09:37:16,143,127,46,77,10,10,0,0
520,5041,2023-12-12 09:39:44,147,104,46,81,10,10,0,0
521,5041,2023-12-12 09:42:34,170,104,46,103,11,10,0,0
522,5041,2023-12-12 09:45:24,170,104,46,103,11,10,0,0
523,5041,2023-12-12 09:48:14,170,104,46,103,11,10,0,0
524,5041,2023-12-12 09:51:04,170,104,46,103,11,10,0,0
525,5041,2023-12-12 09:53:54,170,104,46,103,11,10,0,0
526,5041,2023-12-12 09:56:44,170,104,46,103,11,10,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1039,5041,2023-12-13 09:31:53,180,144,46,113,11,10,0,0
1040,5041,2023-12-13 09:34:16,143,117,46,77,10,10,0,0
1041,5041,2023-12-13 09:36:53,157,104,46,91,10,10,0,0
1042,5041,2023-12-13 09:39:43,170,104,46,103,11,10,0,0
1043,5041,2023-12-13 09:42:33,170,104,46,103,11,10,0,0
1044,5041,2023-12-13 09:45:23,170,104,46,103,11,10,0,0
1045,5041,2023-12-13 09:48:13,170,104,46,103,11,10,0,0
1046,5041,2023-12-13 09:51:04,170,104,46,103,11,10,0,0
1047,5041,2023-12-13 09:53:53,170,104,46,103,11,10,0,0
1048,5041,2023-12-13 09:56:44,170,104,46,103,11,10,0,0

5042
06:00
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
461,5042,2023-12-12 06:01:23,151,84,33,52,29,16,13,8
462,5042,2023-12-12 06:04:13,169,93,37,62,30,19,13,8
463,5042,2023-12-12 06:06:51,159,92,34,57,29,18,13,8
464,5042,2023-12-12 06:09:31,160,92,34,58,29,18,13,8
465,5042,2023-12-12 06:12:11,160,92,34,58,29,18,13,8
466,5042,2023-12-12 06:14:51,160,92,34,58,29,18,13,8
467,5042,2023-12-12 06:17:31,160,92,34,58,29,18,13,8
468,5042,2023-12-12 06:20:11,160,92,34,58,29,18,13,8
469,5042,2023-12-12 06:22:51,160,92,34,58,29,18,13,8
470,5042,2023-12-12 06:25:32,160,92,34,58,29,18,13,8
471,5042,2023-12-12 06:28:11,160,92,34,58,29,18,13,8

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
968,5042,2023-12-13 06:01:24,151,84,33,52,29,16,13,8
969,5042,2023-12-13 06:04:13,169,93,37,62,30,19,13,8
970,5042,2023-12-13 06:06:52,159,92,34,57,29,18,13,8
971,5042,2023-12-13 06:09:32,160,92,34,58,29,18,13,8
972,5042,2023-12-13 06:12:12,160,92,34,58,29,18,13,8
973,5042,2023-12-13 06:14:52,160,92,34,58,29,18,13,8
974,5042,2023-12-13 06:17:32,160,92,34,58,29,18,13,8
975,5042,2023-12-13 06:20:12,160,92,34,58,29,18,13,8
976,5042,2023-12-13 06:22:52,160,92,34,58,29,18,13,8
977,5042,2023-12-13 06:25:32,160,92,34,58,29,18,13,8
978,5042,2023-12-13 06:28:12,160,92,34,58,29,18,13,8

06:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
472,5042,2023-12-12 06:30:51,160,92,34,58,29,18,13,8
473,5042,2023-12-12 06:34:37,226,48,62,76,38,29,13,8
474,5042,2023-12-12 06:38:20,223,101,59,78,37,28,13,8
475,5042,2023-12-12 06:41:11,170,101,35,65,29,20,13,8
476,5042,2023-12-12 06:44:01,170,101,35,65,29,20,13,8
477,5042,2023-12-12 06:46:50,170,101,35,65,29,20,13,8
478,5042,2023-12-12 06:49:41,170,101,35,65,29,20,13,8
479,5042,2023-12-12 06:52:30,170,101,35,65,29,20,13,8
480,5042,2023-12-12 06:55:21,170,101,35,65,29,20,13,8
481,5042,2023-12-12 06:58:10,170,101,35,65,29,20,13,8

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
979,5042,2023-12-13 06:30:52,160,92,34,58,29,18,13,8
980,5042,2023-12-13 06:34:38,226,48,62,76,38,29,13,8
981,5042,2023-12-13 06:38:21,223,101,59,78,37,28,13,8
982,5042,2023-12-13 06:41:11,170,101,35,65,29,20,13,8
983,5042,2023-12-13 06:44:01,170,101,35,65,29,20,13,8
984,5042,2023-12-13 06:46:51,170,101,35,65,29,20,13,8
985,5042,2023-12-13 06:49:41,170,101,35,65,29,20,13,8
986,5042,2023-12-13 06:52:31,170,101,35,65,29,20,13,8
987,5042,2023-12-13 06:55:21,170,101,35,65,29,20,13,8
988,5042,2023-12-13 06:58:11,170,101,35,65,29,20,13,8

07:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5042,2023-12-12 07:01:00,170,101,35,65,29,20,13,8
483,5042,2023-12-12 07:04:50,229,110,60,81,37,30,13,8
484,5042,2023-12-12 07:07:50,180,110,36,72,29,22,13,8
485,5042,2023-12-12 07:10:50,180,110,36,72,29,22,13,8
486,5042,2023-12-12 07:13:50,180,110,36,72,29,22,13,8
487,5042,2023-12-12 07:16:50,180,110,36,72,29,22,13,8
488,5042,2023-12-12 07:19:50,180,110,36,72,29,22,13,8
489,5042,2023-12-12 07:22:50,180,110,36,72,29,22,13,8
490,5042,2023-12-12 07:25:49,180,110,36,72,29,22,13,8
491,5042,2023-12-12 07:28:50,180,110,36,72,29,22,13,8

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
989,5042,2023-12-13 07:01:01,170,101,35,65,29,20,13,8
990,5042,2023-12-13 07:04:50,229,110,60,81,37,30,13,8
991,5042,2023-12-13 07:07:50,180,110,36,72,29,22,13,8
992,5042,2023-12-13 07:10:50,180,110,36,72,29,22,13,8
993,5042,2023-12-13 07:13:50,180,110,36,72,29,22,13,8
994,5042,2023-12-13 07:16:50,180,110,36,72,29,22,13,8
995,5042,2023-12-13 07:19:50,180,110,36,72,29,22,13,8
996,5042,2023-12-13 07:22:50,180,110,36,72,29,22,13,8
997,5042,2023-12-13 07:25:50,180,110,36,72,29,22,13,8
998,5042,2023-12-13 07:28:50,180,110,36,72,29,22,13,8

09:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5042,2023-12-12 09:31:50,180,110,36,72,29,22,13,8
518,5042,2023-12-12 09:34:12,142,112,33,43,29,16,13,8
519,5042,2023-12-12 09:36:51,159,101,33,57,29,19,13,8
520,5042,2023-12-12 09:39:41,170,101,35,65,29,20,13,8
521,5042,2023-12-12 09:42:31,170,101,35,65,29,20,13,8
522,5042,2023-12-12 09:45:21,170,101,35,65,29,20,13,8
523,5042,2023-12-12 09:48:11,170,101,35,65,29,20,13,8
524,5042,2023-12-12 09:51:01,170,101,35,65,29,20,13,8
525,5042,2023-12-12 09:53:51,170,101,35,65,29,20,13,8
526,5042,2023-12-12 09:56:41,170,101,35,65,29,20,13,8

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1039,5042,2023-12-13 09:31:49,180,139,36,72,29,22,13,8
1040,5042,2023-12-13 09:34:11,142,111,33,43,29,16,13,8
1041,5042,2023-12-13 09:36:50,159,101,33,57,29,19,13,8
1042,5042,2023-12-13 09:39:40,170,100,35,65,29,20,13,8
1043,5042,2023-12-13 09:42:30,170,100,35,65,29,20,13,8
1044,5042,2023-12-13 09:45:20,170,100,35,65,29,20,13,8
1045,5042,2023-12-13 09:48:10,170,100,35,65,29,20,13,8
1046,5042,2023-12-13 09:51:00,170,100,35,65,29,20,13,8
1047,5042,2023-12-13 09:53:50,170,100,35,65,29,20,13,8
1048,5042,2023-12-13 09:56:40,170,101,35,65,29,20,13,8

5043
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 20
20

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
460,5043,2023-12-12 06:01:11,150,71,39,52,8,11,40,0
461,5043,2023-12-12 06:03:40,150,61,39,52,8,11,40,0
462,5043,2023-12-12 06:06:39,179,80,46,68,9,11,45,0
463,5043,2023-12-12 06:09:19,160,80,40,61,8,11,40,0
464,5043,2023-12-12 06:11:59,160,80,40,61,8,11,40,0
465,5043,2023-12-12 06:14:40,160,80,40,61,8,11,40,0
466,5043,2023-12-12 06:17:19,160,80,40,61,8,11,40,0
467,5043,2023-12-12 06:19:59,160,80,40,61,8,11,40,0
468,5043,2023-12-12 06:22:40,160,80,40,61,8,11,40,0
469,5043,2023-12-12 06:25:19,160,80,40,61,8,11,40,0
470,5043,2023-12-12 06:28:00,160,80,40,61,8,11,40,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
967,5043,2023-12-13 06:01:10,150,71,39,52,8,11,40,0
968,5043,2023-12-13 06:04:00,169,80,43,65,8,11,42,0
969,5043,2023-12-13 06:06:40,160,80,40,61,8,11,40,0
970,5043,2023-12-13 06:09:20,160,80,40,61,8,11,40,0
971,5043,2023-12-13 06:12:00,160,80,40,61,8,11,40,0
972,5043,2023-12-13 06:14:40,160,80,40,61,8,11,40,0
973,5043,2023-12-13 06:17:20,160,80,40,61,8,11,40,0
974,5043,2023-12-13 06:20:00,160,80,40,61,8,11,40,0
975,5043,2023-12-13 06:22:40,160,80,40,61,8,11,40,0
976,5043,2023-12-13 06:25:20,160,80,40,61,8,11,40,0
977,5043,2023-12-13 06:28:00,160,80,40,61,8,11,40,0

06:30
안정화된 수집시각의 차이 : -1
처음 여섯 현시시각의 차이(L1 norm) : 31
31

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5043,2023-12-12 06:30:40,160,80,40,61,8,11,40,0
472,5043,2023-12-12 06:33:19,160,80,40,61,8,11,40,0
473,5043,2023-12-12 06:35:59,160,130,40,61,8,11,40,0
474,5043,2023-12-12 06:38:23,143,103,39,45,8,11,40,0
475,5043,2023-12-12 06:40:59,156,89,39,58,8,11,40,0
476,5043,2023-12-12 06:43:48,170,89,41,70,8,11,40,0
477,5043,2023-12-12 06:46:39,170,89,41,70,8,11,40,0
478,5043,2023-12-12 06:49:29,170,89,41,70,8,11,40,0
479,5043,2023-12-12 06:52:19,170,89,41,70,8,11,40,0
480,5043,2023-12-12 06:55:08,170,89,41,70,8,11,40,0
481,5043,2023-12-12 06:57:58,170,89,41,70,8,11,40,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
978,5043,2023-12-13 06:30:40,160,80,40,61,8,11,40,0
979,5043,2023-12-13 06:33:20,160,140,40,61,8,11,40,0
980,5043,2023-12-13 06:35:43,143,113,39,45,8,11,40,0
981,5043,2023-12-13 06:38:09,146,89,39,48,8,11,40,0
982,5043,2023-12-13 06:40:59,170,89,41,70,8,11,40,0
983,5043,2023-12-13 06:43:49,170,89,41,70,8,11,40,0
984,5043,2023-12-13 06:46:39,170,89,41,70,8,11,40,0
985,5043,2023-12-13 06:49:29,170,89,41,70,8,11,40,0
986,5043,2023-12-13 06:52:19,170,89,41,70,8,11,40,0
987,5043,2023-12-13 06:55:09,170,89,41,70,8,11,40,0
988,5043,2023-12-13 06:57:59,170,89,41,70,8,11,40,0

07:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5043,2023-12-12 07:00:48,170,89,41,70,8,11,40,0
483,5043,2023-12-12 07:03:39,170,39,41,70,8,11,40,0
484,5043,2023-12-12 07:07:38,239,98,57,106,12,11,53,0
485,5043,2023-12-12 07:10:38,180,98,42,79,8,11,40,0
486,5043,2023-12-12 07:13:38,180,98,42,79,8,11,40,0
487,5043,2023-12-12 07:16:38,180,98,42,79,8,11,40,0
488,5043,2023-12-12 07:19:38,180,98,42,79,8,11,40,0
489,5043,2023-12-12 07:22:38,180,98,42,79,8,11,40,0
490,5043,2023-12-12 07:25:38,180,98,42,79,8,11,40,0
491,5043,2023-12-12 07:28:38,180,98,42,79,8,11,40,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
989,5043,2023-12-13 07:00:49,170,89,41,70,8,11,40,0
990,5043,2023-12-13 07:03:39,170,39,41,70,8,11,40,0
991,5043,2023-12-13 07:07:38,239,98,57,106,12,11,53,0
992,5043,2023-12-13 07:10:38,180,98,42,79,8,11,40,0
993,5043,2023-12-13 07:13:38,180,98,42,79,8,11,40,0
994,5043,2023-12-13 07:16:38,180,98,42,79,8,11,40,0
995,5043,2023-12-13 07:19:38,180,99,42,79,8,11,40,0
996,5043,2023-12-13 07:22:37,179,97,42,78,8,11,40,0
997,5043,2023-12-13 07:25:38,181,99,43,79,8,11,40,0
998,5043,2023-12-13 07:28:37,179,97,42,78,8,11,40,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 69
69

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5043,2023-12-12 09:31:37,180,98,42,79,8,11,40,0
518,5043,2023-12-12 09:34:38,180,138,42,79,8,11,40,0
519,5043,2023-12-12 09:37:01,143,111,39,45,8,11,40,0
520,5043,2023-12-12 09:39:29,148,89,39,50,8,11,40,0
521,5043,2023-12-12 09:42:18,170,89,41,70,8,11,40,0
522,5043,2023-12-12 09:45:09,170,89,41,70,8,11,40,0
523,5043,2023-12-12 09:47:59,170,89,41,70,8,11,40,0
524,5043,2023-12-12 09:50:48,170,89,41,70,8,11,40,0
525,5043,2023-12-12 09:53:39,170,89,41,70,8,11,40,0
526,5043,2023-12-12 09:56:29,170,89,41,70,8,11,40,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1039,5043,2023-12-13 09:31:38,180,128,42,79,8,11,40,0
1040,5043,2023-12-13 09:34:01,143,101,39,45,8,11,40,0
1041,5043,2023-12-13 09:36:39,158,89,39,60,8,11,40,0
1042,5043,2023-12-13 09:39:29,170,89,41,70,8,11,40,0
1043,5043,2023-12-13 09:42:19,170,89,41,70,8,11,40,0
1044,5043,2023-12-13 09:45:09,170,89,41,70,8,11,40,0
1045,5043,2023-12-13 09:47:59,170,89,41,70,8,11,40,0
1046,5043,2023-12-13 09:50:49,170,89,41,70,8,11,40,0
1047,5043,2023-12-13 09:53:39,170,89,41,70,8,11,40,0
1048,5043,2023-12-13 09:56:29,170,89,41,70,8,11,40,0

5044
06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 16
16

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
460,5044,2023-12-12 06:01:29,150,90,40,50,15,17,12,16
461,5044,2023-12-12 06:04:00,150,80,40,50,15,17,12,16
462,5044,2023-12-12 06:06:57,178,98,45,62,17,20,18,16
463,5044,2023-12-12 06:09:39,162,100,41,56,15,18,16,16
464,5044,2023-12-12 06:12:19,160,100,40,55,15,18,16,16
465,5044,2023-12-12 06:15:00,160,100,40,55,15,18,16,16
466,5044,2023-12-12 06:17:39,160,100,40,55,15,18,16,16
467,5044,2023-12-12 06:20:20,160,100,40,55,15,18,16,16
468,5044,2023-12-12 06:23:00,160,100,40,55,15,18,16,16
469,5044,2023-12-12 06:25:40,160,100,40,55,15,18,16,16
470,5044,2023-12-12 06:28:20,160,100,40,55,15,18,16,16

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
967,5044,2023-12-13 06:01:30,150,90,40,50,15,17,12,16
968,5044,2023-12-13 06:04:19,169,99,43,58,16,19,17,16
969,5044,2023-12-13 06:07:00,161,100,41,55,15,18,16,16
970,5044,2023-12-13 06:09:40,160,100,40,55,15,18,16,16
971,5044,2023-12-13 06:12:20,160,100,40,55,15,18,16,16
972,5044,2023-12-13 06:15:00,160,100,40,55,15,18,16,16
973,5044,2023-12-13 06:17:40,160,100,40,55,15,18,16,16
974,5044,2023-12-13 06:20:20,160,100,40,55,15,18,16,16
975,5044,2023-12-13 06:23:00,160,100,40,55,15,18,16,16
976,5044,2023-12-13 06:25:40,160,100,40,55,15,18,16,16
977,5044,2023-12-13 06:28:20,160,100,40,55,15,18,16,16

06:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
471,5044,2023-12-12 06:31:00,160,100,40,55,15,18,16,16
472,5044,2023-12-12 06:33:40,160,160,40,55,15,18,16,16
473,5044,2023-12-12 06:36:03,143,133,40,45,15,15,12,16
474,5044,2023-12-12 06:38:30,147,110,40,48,15,15,13,16
475,5044,2023-12-12 06:41:20,170,110,40,59,17,19,19,16
476,5044,2023-12-12 06:44:10,170,110,40,59,17,19,19,16
477,5044,2023-12-12 06:47:00,170,110,40,59,17,19,19,16
478,5044,2023-12-12 06:49:50,170,110,40,59,17,19,19,16
479,5044,2023-12-12 06:52:40,170,110,40,59,17,19,19,16
480,5044,2023-12-12 06:55:30,170,110,40,59,17,19,19,16
481,5044,2023-12-12 06:58:20,170,110,40,59,17,19,19,16

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
978,5044,2023-12-13 06:31:00,160,100,40,55,15,18,16,16
979,5044,2023-12-13 06:33:40,160,160,40,55,15,18,16,16
980,5044,2023-12-13 06:36:03,143,133,40,45,15,15,12,16
981,5044,2023-12-13 06:38:30,147,110,40,48,15,15,13,16
982,5044,2023-12-13 06:41:20,170,110,40,59,17,19,19,16
983,5044,2023-12-13 06:44:10,170,110,40,59,17,19,19,16
984,5044,2023-12-13 06:47:00,170,110,40,59,17,19,19,16
985,5044,2023-12-13 06:49:50,170,110,40,59,17,19,19,16
986,5044,2023-12-13 06:52:40,170,110,40,59,17,19,19,16
987,5044,2023-12-13 06:55:30,170,110,40,59,17,19,19,16
988,5044,2023-12-13 06:58:20,170,110,40,59,17,19,19,16

07:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5044,2023-12-12 07:01:10,170,110,40,59,17,19,19,16
483,5044,2023-12-12 07:04:00,170,60,40,59,17,19,19,16
484,5044,2023-12-12 07:07:55,235,115,54,82,27,27,29,16
485,5044,2023-12-12 07:11:00,185,120,41,64,21,21,22,16
486,5044,2023-12-12 07:14:00,180,120,40,62,20,20,22,16
487,5044,2023-12-12 07:17:00,180,120,40,62,20,20,22,16
488,5044,2023-12-12 07:20:00,180,120,40,62,20,20,22,16
489,5044,2023-12-12 07:23:00,180,120,40,62,20,20,22,16
490,5044,2023-12-12 07:26:00,180,120,40,62,20,20,22,16

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
989,5044,2023-12-13 07:01:10,170,110,40,59,17,19,19,16
990,5044,2023-12-13 07:04:00,170,60,40,59,17,19,19,16
991,5044,2023-12-13 07:07:55,235,115,54,82,27,27,29,16
992,5044,2023-12-13 07:11:00,185,121,41,64,21,21,22,16
993,5044,2023-12-13 07:13:59,179,120,40,62,20,20,21,16
994,5044,2023-12-13 07:16:59,180,120,40,62,20,20,22,16
995,5044,2023-12-13 07:19:59,180,120,40,62,20,20,22,16
996,5044,2023-12-13 07:22:59,180,120,40,62,20,20,22,16
997,5044,2023-12-13 07:25:59,180,119,40,62,20,20,22,16

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
517,5044,2023-12-12 09:32:00,180,150,40,62,20,20,22,16
518,5044,2023-12-12 09:34:23,143,123,40,45,15,15,12,16
519,5044,2023-12-12 09:37:00,157,110,40,57,15,16,13,16
520,5044,2023-12-12 09:39:50,170,110,40,62,17,19,16,16
521,5044,2023-12-12 09:42:40,170,110,40,62,17,19,16,16
522,5044,2023-12-12 09:45:30,170,110,40,62,17,19,16,16
523,5044,2023-12-12 09:48:20,170,110,40,62,17,19,16,16
524,5044,2023-12-12 09:51:10,170,110,40,62,17,19,16,16
525,5044,2023-12-12 09:54:00,170,110,40,62,17,19,16,16
526,5044,2023-12-12 09:56:50,170,110,40,62,17,19,16,16

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
1039,5044,2023-12-13 09:32:00,180,150,40,62,20,20,22,16
1040,5044,2023-12-13 09:34:23,143,123,40,45,15,15,12,16
1041,5044,2023-12-13 09:37:00,157,110,40,57,15,16,13,16
1042,5044,2023-12-13 09:39:50,170,110,40,62,17,19,16,16
1043,5044,2023-12-13 09:42:40,170,110,40,62,17,19,16,16
1044,5044,2023-12-13 09:45:30,170,110,40,62,17,19,16,16
1045,5044,2023-12-13 09:48:20,170,110,40,62,17,19,16,16
1046,5044,2023-12-13 09:51:10,170,110,40,62,17,19,16,16
1047,5044,2023-12-13 09:54:00,170,110,40,62,17,19,16,16
1048,5044,2023-12-13 09:56:50,170,110,40,62,17,19,16,16

5045
05:00
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
417,5045,2023-12-12 05:00:17,150,17,20,58,36,36,0,0
418,5045,2023-12-12 05:03:49,212,149,31,87,47,47,0,0
419,5045,2023-12-12 05:06:50,181,10,27,74,40,40,0,0
420,5045,2023-12-12 05:09:30,160,10,22,66,36,36,0,0
421,5045,2023-12-12 05:12:10,160,10,22,66,36,36,0,0
422,5045,2023-12-12 05:14:50,160,9,22,66,36,36,0,0
423,5045,2023-12-12 05:17:30,160,10,22,66,36,36,0,0
424,5045,2023-12-12 05:20:10,160,10,22,66,36,36,0,0
425,5045,2023-12-12 05:22:50,160,10,22,66,36,36,0,0
426,5045,2023-12-12 05:25:30,160,10,22,66,36,36,0,0
427,5045,2023-12-12 05:28:10,160,10,22,66,36,36,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
890,5045,2023-12-13 05:00:17,150,17,20,58,36,36,0,0
891,5045,2023-12-13 05:03:49,212,149,31,87,47,47,0,0
892,5045,2023-12-13 05:06:50,181,10,27,74,40,40,0,0
893,5045,2023-12-13 05:09:30,160,10,22,66,36,36,0,0
894,5045,2023-12-13 05:12:10,160,10,22,66,36,36,0,0
895,5045,2023-12-13 05:14:50,160,10,22,66,36,36,0,0
896,5045,2023-12-13 05:17:30,160,10,22,66,36,36,0,0
897,5045,2023-12-13 05:20:10,160,10,22,66,36,36,0,0
898,5045,2023-12-13 05:22:49,160,10,22,66,36,36,0,0
899,5045,2023-12-13 05:25:29,160,10,22,66,36,36,0,0
900,5045,2023-12-13 05:28:09,160,10,22,66,36,36,0,0

05:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
428,5045,2023-12-12 05:30:50,160,10,22,66,36,36,0,0
429,5045,2023-12-12 05:34:49,239,109,35,108,48,48,0,0
430,5045,2023-12-12 05:38:48,239,168,35,108,48,48,0,0
431,5045,2023-12-12 05:41:55,187,174,29,84,37,37,0,0
432,5045,2023-12-12 05:44:55,180,175,27,81,36,36,0,0
433,5045,2023-12-12 05:47:55,180,175,27,81,36,36,0,0
434,5045,2023-12-12 05:50:54,180,175,27,81,36,36,0,0
435,5045,2023-12-12 05:53:54,180,175,27,81,36,36,0,0
436,5045,2023-12-12 05:56:54,180,175,27,81,36,36,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
901,5045,2023-12-13 05:30:49,160,10,22,66,36,36,0,0
902,5045,2023-12-13 05:34:48,239,109,35,108,48,48,0,0
903,5045,2023-12-13 05:38:47,239,168,35,108,48,48,0,0
904,5045,2023-12-13 05:41:54,187,175,29,84,37,37,0,0
905,5045,2023-12-13 05:44:54,180,175,27,81,36,36,0,0
906,5045,2023-12-13 05:47:54,180,175,27,81,36,36,0,0
907,5045,2023-12-13 05:50:54,180,175,27,81,36,36,0,0
908,5045,2023-12-13 05:53:54,180,175,27,81,36,36,0,0
909,5045,2023-12-13 05:56:54,180,175,27,81,36,36,0,0

06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
438,5045,2023-12-12 06:02:54,180,214,27,81,36,36,0,0
439,5045,2023-12-12 06:06:43,229,3,41,112,37,39,0,0
440,5045,2023-12-12 06:10:23,220,3,38,108,36,38,0,0
441,5045,2023-12-12 06:14:03,220,3,38,108,36,38,0,0
442,5045,2023-12-12 06:17:43,220,3,38,108,36,38,0,0
443,5045,2023-12-12 06:21:23,220,3,38,108,36,38,0,0
444,5045,2023-12-12 06:25:03,220,3,38,108,36,38,0,0
445,5045,2023-12-12 06:28:43,220,3,38,108,36,38,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
911,5045,2023-12-13 06:02:54,180,174,27,81,36,36,0,0
912,5045,2023-12-13 06:06:43,229,3,41,112,37,39,0,0
913,5045,2023-12-13 06:10:23,220,3,38,108,36,38,0,0
914,5045,2023-12-13 06:14:03,220,3,38,108,36,38,0,0
915,5045,2023-12-13 06:17:43,220,3,38,108,36,38,0,0
916,5045,2023-12-13 06:21:23,220,4,38,108,36,38,0,0
917,5045,2023-12-13 06:25:03,220,3,38,108,36,38,0,0
918,5045,2023-12-13 06:28:43,220,4,38,108,36,38,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
482,5045,2023-12-12 09:32:03,220,3,38,108,36,38,0,0
483,5045,2023-12-12 09:35:54,231,175,35,104,46,46,0,0
484,5045,2023-12-12 09:38:54,180,174,27,81,36,36,0,0
485,5045,2023-12-12 09:41:54,180,174,27,81,36,36,0,0
486,5045,2023-12-12 09:44:54,180,174,27,81,36,36,0,0
487,5045,2023-12-12 09:47:54,180,174,27,81,36,36,0,0
488,5045,2023-12-12 09:50:54,180,174,27,81,36,36,0,0
489,5045,2023-12-12 09:53:54,180,175,27,81,36,36,0,0
490,5045,2023-12-12 09:56:54,180,175,27,81,36,36,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
968,5045,2023-12-13 09:32:03,220,4,38,108,36,38,0,0
969,5045,2023-12-13 09:35:54,231,175,35,104,46,46,0,0
970,5045,2023-12-13 09:38:54,180,174,27,81,36,36,0,0
971,5045,2023-12-13 09:41:54,180,175,27,81,36,36,0,0
972,5045,2023-12-13 09:44:54,180,174,27,81,36,36,0,0
973,5045,2023-12-13 09:47:54,180,175,27,81,36,36,0,0
974,5045,2023-12-13 09:50:54,180,175,27,81,36,36,0,0
975,5045,2023-12-13 09:53:54,180,175,27,81,36,36,0,0
976,5045,2023-12-13 09:56:54,180,175,27,81,36,36,0,0

5046
05:00
안정화된 수집시각의 차이 : 3
처음 여섯 현시시각의 차이(L1 norm) : 3
3

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
419,5046,2023-12-12 05:00:10,150,9,24,42,42,42,0,0
420,5046,2023-12-12 05:03:40,211,140,42,58,55,56,0,0
421,5046,2023-12-12 05:06:21,160,141,32,44,42,42,0,0
422,5046,2023-12-12 05:09:01,160,141,32,44,42,42,0,0
423,5046,2023-12-12 05:11:41,160,141,32,44,42,42,0,0
424,5046,2023-12-12 05:14:22,161,141,32,44,42,43,0,0
425,5046,2023-12-12 05:17:02,160,141,32,44,42,42,0,0
426,5046,2023-12-12 05:19:42,160,141,32,44,42,42,0,0
427,5046,2023-12-12 05:22:22,160,142,32,44,42,42,0,0
428,5046,2023-12-12 05:25:02,160,142,32,44,42,42,0,0
429,5046,2023-12-12 05:27:43,161,142,32,44,43,42,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
897,5046,2023-12-13 05:00:10,150,10,24,42,42,42,0,0
898,5046,2023-12-13 05:03:41,211,141,42,58,56,55,0,0
899,5046,2023-12-13 05:06:22,160,141,32,44,42,42,0,0
900,5046,2023-12-13 05:09:01,160,141,32,44,42,42,0,0
901,5046,2023-12-13 05:11:42,161,141,32,44,42,43,0,0
902,5046,2023-12-13 05:14:22,160,142,32,44,42,42,0,0
903,5046,2023-12-13 05:17:02,160,142,32,44,42,42,0,0
904,5046,2023-12-13 05:19:43,160,142,32,44,42,42,0,0
905,5046,2023-12-13 05:22:22,160,142,32,44,42,42,0,0
906,5046,2023-12-13 05:25:02,161,143,32,44,43,42,0,0
907,5046,2023-12-13 05:27:40,158,141,30,43,42,43,0,0

05:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 2
2

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
430,5046,2023-12-12 05:30:21,158,140,30,43,42,43,0,0
431,5046,2023-12-12 05:33:05,164,4,19,60,42,43,0,0
432,5046,2023-12-12 05:35:46,162,166,19,58,42,43,0,0
433,5046,2023-12-12 05:38:46,180,166,27,69,42,42,0,0
434,5046,2023-12-12 05:41:47,180,166,27,69,42,42,0,0
435,5046,2023-12-12 05:44:47,180,167,27,69,42,42,0,0
436,5046,2023-12-12 05:47:47,180,167,27,69,42,42,0,0
437,5046,2023-12-12 05:50:46,181,167,27,69,42,43,0,0
438,5046,2023-12-12 05:53:45,178,165,25,68,42,43,0,0
439,5046,2023-12-12 05:56:45,180,165,27,69,42,42,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
908,5046,2023-12-13 05:30:20,160,141,32,44,42,42,0,0
909,5046,2023-12-13 05:33:04,164,145,19,60,42,43,0,0
910,5046,2023-12-13 05:35:46,162,167,19,58,42,43,0,0
911,5046,2023-12-13 05:38:46,180,167,27,69,42,42,0,0
912,5046,2023-12-13 05:41:46,180,167,27,69,42,42,0,0
913,5046,2023-12-13 05:44:47,180,167,27,69,42,42,0,0
914,5046,2023-12-13 05:47:47,181,167,27,69,43,42,0,0
915,5046,2023-12-13 05:50:45,178,166,25,68,42,43,0,0
916,5046,2023-12-13 05:53:45,180,166,27,69,42,42,0,0
917,5046,2023-12-13 05:56:45,180,166,27,69,42,42,0,0

06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
441,5046,2023-12-12 06:02:46,180,206,27,69,42,42,0,0
442,5046,2023-12-12 06:06:56,251,17,45,110,48,48,0,0
443,5046,2023-12-12 06:10:37,220,17,40,96,42,42,0,0
444,5046,2023-12-12 06:14:17,220,17,40,96,42,42,0,0
445,5046,2023-12-12 06:17:57,220,18,40,96,42,42,0,0
446,5046,2023-12-12 06:21:37,221,18,40,96,42,43,0,0
447,5046,2023-12-12 06:25:18,220,18,40,96,42,42,0,0
448,5046,2023-12-12 06:28:58,220,18,40,96,42,42,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
919,5046,2023-12-13 06:02:46,180,167,27,69,42,42,0,0
920,5046,2023-12-13 06:06:57,251,18,45,110,48,48,0,0
921,5046,2023-12-13 06:10:37,220,18,40,96,42,42,0,0
922,5046,2023-12-13 06:14:17,220,18,40,96,42,42,0,0
923,5046,2023-12-13 06:17:58,220,18,40,96,42,42,0,0
924,5046,2023-12-13 06:21:38,221,18,40,96,42,43,0,0
925,5046,2023-12-13 06:25:18,220,19,40,96,42,42,0,0
926,5046,2023-12-13 06:28:58,220,19,40,96,42,42,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 1
1

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
485,5046,2023-12-12 09:32:18,220,18,40,96,42,42,0,0
486,5046,2023-12-12 09:35:42,204,162,34,75,47,48,0,0
487,5046,2023-12-12 09:38:42,180,163,30,66,42,42,0,0
488,5046,2023-12-12 09:41:42,180,163,30,66,42,42,0,0
489,5046,2023-12-12 09:44:42,181,163,30,66,43,42,0,0
490,5046,2023-12-12 09:47:43,180,163,30,66,42,42,0,0
491,5046,2023-12-12 09:50:43,180,163,30,66,42,42,0,0
492,5046,2023-12-12 09:53:43,180,164,30,66,42,42,0,0
493,5046,2023-12-12 09:56:44,181,164,30,66,42,43,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
976,5046,2023-12-13 09:32:19,220,139,40,96,42,42,0,0
977,5046,2023-12-13 09:35:43,204,163,34,75,47,48,0,0
978,5046,2023-12-13 09:38:43,180,163,30,66,42,42,0,0
979,5046,2023-12-13 09:41:43,180,163,30,66,42,42,0,0
980,5046,2023-12-13 09:44:44,181,163,30,67,42,42,0,0
981,5046,2023-12-13 09:47:43,180,164,30,66,42,42,0,0
982,5046,2023-12-13 09:50:44,180,164,30,66,42,42,0,0
983,5046,2023-12-13 09:53:44,180,164,30,66,42,42,0,0
984,5046,2023-12-13 09:56:44,181,164,30,66,42,43,0,0

5047
05:00
안정화된 수집시각의 차이 : 2
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
421,5047,2023-12-12 05:02:30,150,69,31,55,20,44,0,0
422,5047,2023-12-12 05:06:02,213,122,41,87,27,58,0,0
423,5047,2023-12-12 05:09:14,192,154,37,78,24,53,0,0
424,5047,2023-12-12 05:11:54,160,154,31,65,20,44,0,0
425,5047,2023-12-12 05:14:34,160,154,31,65,20,44,0,0
426,5047,2023-12-12 05:17:14,160,154,31,65,20,44,0,0
427,5047,2023-12-12 05:19:54,160,154,31,65,20,44,0,0
428,5047,2023-12-12 05:22:34,160,154,31,65,20,44,0,0
429,5047,2023-12-12 05:25:14,160,154,31,65,20,44,0,0
430,5047,2023-12-12 05:27:55,160,154,31,65,20,44,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
896,5047,2023-12-13 05:02:29,150,69,31,55,20,44,0,0
897,5047,2023-12-13 05:06:02,213,122,41,87,27,58,0,0
898,5047,2023-12-13 05:09:14,192,154,37,78,24,53,0,0
899,5047,2023-12-13 05:11:54,160,154,31,65,20,44,0,0
900,5047,2023-12-13 05:14:34,160,154,31,65,20,44,0,0
901,5047,2023-12-13 05:17:14,160,154,31,65,20,44,0,0
902,5047,2023-12-13 05:19:54,160,154,31,65,20,44,0,0
903,5047,2023-12-13 05:22:33,160,154,31,65,20,44,0,0
904,5047,2023-12-13 05:25:13,160,154,31,65,20,44,0,0
905,5047,2023-12-13 05:27:53,160,154,31,65,20,44,0,0

05:30
안정화된 수집시각의 차이 : 1
처음 여섯 현시시각의 차이(L1 norm) : 0
0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
431,5047,2023-12-12 05:30:35,160,154,31,65,20,44,0,0
432,5047,2023-12-12 05:33:15,160,14,31,65,20,44,0,0
433,5047,2023-12-12 05:35:50,156,170,29,63,20,44,0,0
434,5047,2023-12-12 05:38:51,180,170,35,75,26,44,0,0
435,5047,2023-12-12 05:41:50,180,170,35,75,26,44,0,0
436,5047,2023-12-12 05:44:50,180,170,35,75,26,44,0,0
437,5047,2023-12-12 05:47:51,180,170,35,75,26,44,0,0
438,5047,2023-12-12 05:50:50,180,170,35,75,26,44,0,0
439,5047,2023-12-12 05:53:50,180,170,35,75,26,44,0,0
440,5047,2023-12-12 05:56:50,180,170,35,75,26,44,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
906,5047,2023-12-13 05:30:33,160,154,31,65,20,44,0,0
907,5047,2023-12-13 05:33:13,160,14,31,65,20,44,0,0
908,5047,2023-12-13 05:35:49,156,170,29,63,20,44,0,0
909,5047,2023-12-13 05:38:49,180,170,35,75,26,44,0,0
910,5047,2023-12-13 05:41:50,180,170,35,75,26,44,0,0
911,5047,2023-12-13 05:44:49,180,170,35,75,26,44,0,0
912,5047,2023-12-13 05:47:49,180,170,35,75,26,44,0,0
913,5047,2023-12-13 05:50:50,180,170,35,75,26,44,0,0
914,5047,2023-12-13 05:53:49,180,170,35,75,26,44,0,0
915,5047,2023-12-13 05:56:49,180,170,35,75,26,44,0,0

06:00
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 56
56

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
442,5047,2023-12-12 06:02:50,180,210,35,75,26,44,0,0
443,5047,2023-12-12 06:06:50,240,10,65,105,22,48,0,0
444,5047,2023-12-12 06:10:30,220,10,60,96,20,44,0,0
445,5047,2023-12-12 06:14:10,220,10,60,96,20,44,0,0
446,5047,2023-12-12 06:17:50,220,10,60,96,20,44,0,0
447,5047,2023-12-12 06:21:30,220,10,60,96,20,44,0,0
448,5047,2023-12-12 06:25:10,220,10,60,96,20,44,0,0
449,5047,2023-12-12 06:28:50,220,10,60,96,20,44,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
917,5047,2023-12-13 06:02:50,180,170,35,75,26,44,0,0
918,5047,2023-12-13 06:05:49,180,170,35,75,26,44,0,0
919,5047,2023-12-13 06:10:00,250,200,68,109,23,50,0,0
920,5047,2023-12-13 06:14:09,250,10,68,109,23,50,0,0
921,5047,2023-12-13 06:17:50,220,10,60,96,20,44,0,0
922,5047,2023-12-13 06:21:30,220,10,60,96,20,44,0,0
923,5047,2023-12-13 06:25:09,220,10,60,96,20,44,0,0
924,5047,2023-12-13 06:28:50,220,10,60,96,20,44,0,0

09:30
안정화된 수집시각의 차이 : 0
처음 여섯 현시시각의 차이(L1 norm) : 17
17

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
486,5047,2023-12-12 09:32:10,220,10,60,96,20,44,0,0
487,5047,2023-12-12 09:35:50,220,170,60,96,20,44,0,0
488,5047,2023-12-12 09:38:50,180,170,35,75,26,44,0,0
489,5047,2023-12-12 09:41:50,180,170,35,75,26,44,0,0
490,5047,2023-12-12 09:44:50,180,170,35,75,26,44,0,0
491,5047,2023-12-12 09:47:50,180,170,35,75,26,44,0,0
492,5047,2023-12-12 09:50:50,180,170,35,75,26,44,0,0
493,5047,2023-12-12 09:53:50,180,170,35,75,26,44,0,0
494,5047,2023-12-12 09:56:50,180,170,35,75,26,44,0,0

,현장교차로ID,수집날짜시각,주기시간,옵셋시간,A링1현시시간,A링2현시시간,A링3현시시간,A링4현시시간,A링5현시시간,A링6현시시간
974,5047,2023-12-13 09:32:10,220,130,60,96,20,44,0,0
975,5047,2023-12-13 09:35:50,220,170,43,91,32,54,0,0
976,5047,2023-12-13 09:38:50,180,170,35,75,26,44,0,0
977,5047,2023-12-13 09:41:50,180,170,35,75,26,44,0,0
978,5047,2023-12-13 09:44:50,180,170,35,75,26,44,0,0
979,5047,2023-12-13 09:47:50,180,170,35,75,26,44,0,0
980,5047,2023-12-13 09:50:50,180,170,35,75,26,44,0,0
981,5047,2023-12-13 09:53:50,180,170,35,75,26,44,0,0
982,5047,2023-12-13 09:56:50,180,170,35,75,26,44,0,0

In [ ]:
def each_results(inter_no, start_time):
    print('안정화된 수집시각의 차이 : '+str(diffs[inter_no][start_time]))
    print('처음 여섯 현시시각의 차이(L1 norm) : '+str(erros[inter_no][start_time]))
    display(hstrs[inter_no][start_time][12])
    display(hstrs[inter_no][start_time][13])
# each_results(5031, '06:00')